@import '../../sass/base/__base';
@import "compass/css3";

.activies_page {
    .activies_page_wrap {
        .content_wrap, .wrap_block {
            margin-top: em(60px, $base-font-size);
        }

        .block_img {
            border: 1px solid #cecfd0;
            @include border-radius(4px);
            // width: 296px;
            // height: 283px;
            // padding: 13px;
            padding: em(13px, $base-font-size) flex(13px, 296px);
            width: 100%;
            display: block;
            img {
                max-width: 100%;
            }
        }
        .brand_news_toolbax_list  {
            width: flex(296px, $base-width-content);
            // height: em(283px, $base-font-size);
        }
        .channel {
            width: flex(320px, $base-width);
            float: left;

            .icon {
                margin: 0px auto;
                display: block;
            }
            .name_channels {
                font-family: 'Brandon Grotesque';
                font-weight: 300;
                font-size: em(21px , $base-font-size);
                line-height: 1;
                // color: $base-color;
                color: #2c3138;
                text-align: center;
                padding: em(15px, $base-font-size) 0;
            }
            ul {
                li {
                    a {
                        color: #A9ADB0;
                        position: relative;
                        margin-left: flex(90px, 246px);
                        display: block;
                        padding: em(5px, $base-font-size) 0;
                        text-decoration: none;
                        &:before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            @include border-radius(100%);
                            // background-color: $gray-color;
                            background-color: #7e8890;
                            position: absolute;
                            display: block;
                            left: em(-10px);
                            top: em(10px);
                        }
                    }
                }
            }
        }
        .wrap_block {
            .title {
                font-family: 'Brandon Grotesque';
                font-weight: 300;
                font-size: em($brand_news_title-font-size, $base-font-size);
                line-height: 1;
                // color: $base-color;
                color: #2c3138;
                margin-bottom: em(28px, $main_title-font-size);
            }
            p.text {
                font-family: pragmatica,Helvetica,Arial,sans-serif;
                font-weight: 300;
                font-size: em($base-font-size, $base-font-size);
                line-height: em(21px, $base-font-size);
                color: $gray-color;
                letter-spacing: 1px;
            }
        }
        .content_wrap {
            .btn:nth-last-child(1) {
                margin-bottom: 1px;
            }
        }
        .attachments_blocks {
            // margin-top: em(30px, $base-font-size);
            margin-bottom: em(60px, $base-font-size);

            .block {
                width: flex(450px, $base-width);
                float: left;
                margin-top: em(60px, $base-font-size);
                &:nth-child(2n) {
                    margin-left: flex(21px, 346px);
                }
                .icon {
                    width: flex(95px, 450px);
                    float: left;
                    padding: em(5px, $base-font-size) flex(5px, 300px);
                    @include border-radius(100%);
                    cursor: pointer;
                    border: 1px solid transparent;
                    position: relative;
                    margin-right: flex(15px);
                    &:hover {
                        border-color: #42CE7F
                    }
                    img {
                        max-width: 100%;
                        margin: 0px auto;
                        display: block;
                    }
                    .ico_search {
                        position: absolute;
                        top: em(25px, $base-font-size);
                        left: flex(25px, 73px);
                        display: none;

                        @media (max-width: 768px) {
                            top: 1.3em;
                            left: 32.24658%;
                        }
                    }
                    &:hover .ico_search{
                        display: block;
                    }
                }
                .name {
                    float: left;
                    font-weight: 500;
                    font-family: 'Brandon Grotesque';
                }
                .text {
                    float: left;
                    width: flex(300px, 450px);
                    margin-top: em(10px, $base-font-size);
                    // color: $gray-color;
                    // color: #8F979F;
                    color: #5a636e;
                    line-height: em(21px, $base-font-size);
                    font-size: em(13.4px, $base-font-size);
                }
                .file_size {
                    float: left;
                    width: flex(300px, 450px);
                    margin-top: em(3px, $base-font-size);
                    font-weight: 500;
                }
                .ico_download {
                    cursor: pointer;

                    @media (max-width: 768px) {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .brand_news {
        .btn_wrap {
            bottom: em(-25px);
        }
    }

    .btn_big_rounded_wrap {
        .btn {
            &.btn_big_rounded {
                line-height: em(50px, $btn-font-size);
            }
        }
    }

    .wrap_blocks {
        .main_title {
            &.main_title_actives {
                margin-top: em(122px, $main_title-font-size);
            }
        }
    }

    .status_wrap {
        width: flex(340px, $base-width-content);
        .valid {
            font-weight: 500;
        }
        .btn_big_rounded {
            .ico_status {
                margin-left: flex(21px, 370px);
            }
        }
    }
    .wrap_blocks {
        background: #F9F9FB;
        overflow: hidden;
        margin-bottom: -1.4em;
        width: 100%;
    }
    #mainarea.activies_page_wrap {
        padding-bottom: 0px;
        margin: 0px auto;
    }
    .document {
        margin: em(-45px) 0 em(60px);

        li {
            float: left;
            width: flex(330px, $base-width-content);
            margin-left: flex(63px, $base-width-content);
            overflow: hidden;
            margin-top: em(95px);

            @media (max-width: 768px) {
                float: none;
                width: 100%;
                margin-left: 0;
            }

            &:nth-child(2n+1) {
                margin-left: 0;
                clear: left;
            }

            &.odd {
                margin-left: 0;
                clear: left;
            }

            .brand_news_title {
                font-size: em($base-font-size, $base-font-size);
                width: flex(230px, 253px);
            }
            .manage {
                @media (max-width: 768px) {
                    width: em(62px);
                }
                &.img_circle-default {
                    line-height: em(62px);
                }
            }
            .description {
                width: flex(240px, 330px);
                margin-left: flex(15px, 330px);
                p {
                    margin-top: em(20px);
                    color: #8F979F;
                    line-height: em($base-font-size + $default_increase-line-height);
                }
                &.distinction {
                    .brand_news_title {
                        color: $distinction-color;
                    }
                }
            }
        }
    }

    .calendar_from, .calendar_to {
        background: none;
        border: none;
        display: inline-block;
        width: flex(80px, 370px - 6px * 2);
        margin-left: flex(3px, 370px - 6px * 2);
        color: #7E8D95;
        font-weight: 500;
    }

    .calendar_to {
        margin-left: flex(5px, 370px - 6px * 2);
    }
}