@import '../../sass/base/__base';
.content_wrap {
	padding-bottom: em(140px + 57px, $base-font-size);
}
.brand_edit {
	li {
		float: left;
		width: flex(147px, $base-width);
		margin-left: flex(35px, $base-width);
		&:first-child {
			margin-left: 0;
		}
		.btn {
			&.btn_small {
				width: 100%;
			}
		}

	}
	&.btn_wrap {
		position: absolute;
		bottom: em(-140px, $base-font-size);
		overflow: hidden;
	}
}
.brand_news_title {
	font-size: em(27px, $base-font-size);
}