@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 5, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_info > li {
  overflow: hidden;
}
/* line 8, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_info > li .profile_title .profile_text {
  margin-top: 0.53846em;
  margin-left: 0;
}
/* line 13, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_info > li .profile_text {
  margin: -0.2em 0 0 9.48509%;
  width: 79.9458%;
}
@media (max-width: 768px) {
  /* line 13, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .activities_changes_approval_list_info > li .profile_text {
    margin: -0.26667em 0 0 5.48509%;
  }
}

/* line 24, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_wrap {
  margin-top: 4em;
}

/* line 28, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list {
  border-top: 1px solid #cecfd0;
  margin-bottom: -1px;
}
/* line 33, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list > li {
  float: left;
  width: 50%;
  padding-bottom: 6.53333em;
  border-left: 1px solid #cecfd0;
}
/* line 38, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list > li:first-child {
  border: none;
  border-right: 1px solid #cecfd0;
  margin-right: -1px;
}

/* line 50, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.profile_text {
  margin-top: 0.53846em;
  font-size: 0.86667em;
  line-height: 1.38462em;
  color: #77808b;
}

/* line 57, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax {
  overflow: visible;
  border-top: 1px solid #cecfd0;
  margin-top: 4.33333em;
}
/* line 61, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax .status_wrap {
  top: -1.33333em;
  left: 50%;
  width: 61.45833%;
  margin-left: -26.875%;
}
@media (max-width: 768px) {
  /* line 61, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .brand_news_toolbax .status_wrap {
    left: 43%;
    width: 75.45833%;
  }
}
/* line 73, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax .status_wrap .btn_big_rounded .ico_status {
  margin-left: 13.55932%;
}
/* line 79, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list {
  width: 79.9458%;
  color: #77808b;
  margin-top: 3.53333em;
}
/* line 83, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list p {
  margin-top: 2.46667em;
  line-height: 1.2em;
}
/* line 86, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list p.distinction {
  color: #b70e12;
}
/* line 90, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list.distinction {
  color: #b70e12;
}

/* line 99, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_list .btn.btn-default {
  width: 49.49153%;
}

/* line 106, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.main_title.main_title-indent {
  margin-top: 2.22222em;
}

/* line 111, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.approval_list {
  margin-top: 1.09524em;
  font-size: 1.4em;
  color: #45484C;
}

/* line 119, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax_list > li .block_img {
  width: 80.2168%;
}

/* line 125, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_wrap {
  padding: 0 0 0 23.125%;
}

@media (max-width: 768px) {
  /* line 129, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .activities_changes_approval_list_wrap_list {
    padding: 0 0 0 10%;
  }
}

/* line 135, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document_wrap {
  border-top: 1px solid #cecfd0;
  padding-top: 5.33333em;
}

/* line 140, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document {
  margin-top: -3em;
}
/* line 142, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li {
  float: left;
  width: 44.71545%;
  margin-left: 8.53659%;
  overflow: hidden;
  margin-top: 6.33333em;
}
@media (max-width: 768px) {
  /* line 142, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .document li {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
/* line 155, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li:nth-child(2n+1) {
  margin-left: 0;
}
/* line 159, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li.odd {
  margin-left: 0;
}
/* line 163, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .brand_news_title {
  font-size: 1em;
  width: 90.90909%;
}
@media (max-width: 768px) {
  /* line 167, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .document li .manage {
    width: 4.13333em;
  }
}
/* line 171, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .manage.img_circle-default {
  line-height: 4.13333em;
}
/* line 175, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .description {
  width: 72.72727%;
  margin-left: 4.54545%;
}
/* line 178, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .description p {
  margin-top: 1.33333em;
  color: #8F979F;
}
/* line 183, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .description.distinction .brand_news_title {
  color: #b70e12;
}

/* line 191, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel {
  display: inline-block;
  width: 42.00542%;
  margin-left: 13.55014%;
  margin-top: 3.73333em;
}
/* line 196, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel:nth-child(2n+1) {
  margin-left: 0;
}
/* line 200, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel.odd {
  margin-left: 0;
}
/* line 204, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel .name_channels {
  margin-bottom: 1.53333em;
}
/* line 209, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel input[type="checkbox"] + label::before {
  vertical-align: -3px;
  margin-right: 0.53333em;
}
/* line 213, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel input[type="checkbox"] + label .label_ico {
  vertical-align: -3px;
  margin-right: 0.53333em;
}

/* line 221, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel_item_list {
  color: #45484C;
}
/* line 223, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel_item_list > li {
  margin-top: 1em;
}
/* line 225, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel_item_list > li:first-child {
  margin-top: 0;
}

/* line 231, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.btn_wrap {
  margin-top: 7.33333em;
}
/* line 234, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.btn_wrap .btn.btn-default {
  width: 22.49322%;
  margin-left: 4.74255%;
}
/* line 238, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.btn_wrap .btn:first-child {
  margin-left: 0;
}

/* line 244, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_textarea {
  margin: 2.46154em 0;
  border: 1px solid #dedfdf;
  font-size: 0.86667em;
}
