@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 5, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_info > li {
  overflow: hidden;
}
/* line 8, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_info > li .profile_title .profile_text {
  margin-top: 0.53846em;
  margin-left: 0;
}
/* line 13, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_info > li .profile_text {
  margin: -0.26667em 0 0 9.48509%;
  width: 79.9458%;
}
@media (max-width: 768px) {
  /* line 13, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .activities_changes_approval_list_info > li .profile_text {
    margin: -0.26667em 0 0 5.48509%;
  }
}

/* line 24, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list {
  overflow: hidden;
  margin-top: 4em;
  border-top: 1px solid #cecfd0;
  margin-bottom: -1px;
}
/* line 29, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list > li {
  float: left;
  width: 50%;
  padding-bottom: 6.53333em;
  border-left: 1px solid #cecfd0;
}
/* line 34, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list > li:first-child {
  border: none;
}

/* line 44, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.profile_text {
  margin-top: 0.53846em;
  font-size: 0.86667em;
  line-height: 1.38462em;
  color: #77808b;
}

/* line 51, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax {
  overflow: visible;
  border-top: 1px solid #cecfd0;
  margin-top: 4.33333em;
}
/* line 55, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax .status_wrap {
  top: -1.33333em;
  left: 50%;
  width: 61.45833%;
  margin-left: -26.875%;
}
@media (max-width: 768px) {
  /* line 55, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .brand_news_toolbax .status_wrap {
    left: 43%;
    width: 75.45833%;
  }
}
/* line 67, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list {
  width: 79.9458%;
  color: #77808b;
  margin-top: 3.53333em;
}
/* line 71, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list p {
  margin-top: 2.46667em;
  line-height: 1.2em;
}
/* line 74, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list p.distinction {
  color: #b70e12;
}
/* line 78, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax.description .brand_news_list.distinction {
  color: #b70e12;
}

/* line 87, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_list .btn.btn-default {
  width: 49.49153%;
}

/* line 94, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.main_title.main_title-indent {
  margin-top: 2.22222em;
}

/* line 99, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.approval_list {
  margin-top: 1.09524em;
  font-size: 1.4em;
  color: #45484C;
}

/* line 107, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.brand_news_toolbax_list > li .block_img {
  width: 80.2168%;
}

/* line 113, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_changes_approval_list_wrap {
  padding: 0 0 0 23.125%;
}

@media (max-width: 768px) {
  /* line 117, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .activities_changes_approval_list_wrap_list {
    padding: 0 0 0 10%;
  }
}

/* line 123, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document_wrap {
  border-top: 1px solid #cecfd0;
  padding-top: 5.33333em;
}

/* line 128, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document {
  margin-top: -3em;
}
/* line 130, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li {
  float: left;
  width: 44.71545%;
  margin-left: 8.53659%;
  overflow: hidden;
  margin-top: 6.33333em;
}
@media (max-width: 768px) {
  /* line 130, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .document li {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
/* line 143, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li:nth-child(2n+1) {
  margin-left: 0;
}
/* line 146, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .brand_news_title {
  font-size: 1em;
  width: 90.90909%;
}
/* line 150, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .manage {
  width: 18.78788%;
  height: 4.13333em;
}
@media (max-width: 768px) {
  /* line 150, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
  .document li .manage {
    width: 4.13333em;
  }
}
/* line 157, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .manage.img_circle-default {
  line-height: 4.13333em;
}
/* line 161, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .description {
  width: 76.66667%;
  margin-left: 4.54545%;
}
/* line 164, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .description p {
  margin-top: 1.33333em;
}
/* line 168, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.document li .description.distinction .brand_news_title {
  color: #b70e12;
}

/* line 176, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel {
  display: inline-block;
  width: 42.00542%;
  margin-left: 13.55014%;
  margin-top: 3.73333em;
}
/* line 181, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel:nth-child(2n+1) {
  margin-left: 0;
}
/* line 184, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel .name_channels {
  margin-bottom: 1.53333em;
}
/* line 187, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel input[type="checkbox"] + label::before {
  vertical-align: -3px;
  margin-right: 8px;
}

/* line 193, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel_item_list {
  color: #45484C;
}
/* line 195, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel_item_list > li {
  margin-top: 1em;
}
/* line 197, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.channel_item_list > li:first-child {
  margin-top: 0;
}

/* line 203, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.btn_wrap {
  margin-top: 7.33333em;
}
/* line 206, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.btn_wrap .btn.btn-default {
  width: 22.49322%;
  margin-left: 4.74255%;
}
/* line 210, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.btn_wrap .btn:first-child {
  margin-left: 0;
}

/* line 216, ../../../dev/pages/activities_changes_approval/activities_changes_approval.scss */
.activities_textarea {
  margin: 2.46154em 0;
  border-color: #dedfdf;
  font-size: 0.86667em;
}
