@import '../../sass/base/__base';

.dictionary-edit-page{
    .grey-line{
        margin: 30px auto 72px;
    }
    .content_wrap{
        margin-top: 41px;
        .main_title{
            font-size: 27px;
            text-transform: initial;
            margin: 0;
            font-family: Open Sans;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .properties_list{
            .channel_name{
                margin-top: 10px;
                input[type="text"]{
                    width: 311px;
                    margin-top: 21px;
                    border: 1px solid #CBCCCD;
                }
            }
            .parameters{
                margin-top: 58px;
                .main_title{
                    margin-bottom: 5px;
                }
                input[type='text'] {
                    margin-top: 16px;
                    margin-bottom: 2px;
                }
            }
            .upload_icon{
                margin-top: 45px;
            }
            .btn-add{
                margin-top: 43px;
                width: 121px;
                height: 41px;
                font-size: 13px;
            }
        }
        .buttons{
            .btn{
                width: 119px;
                height: 41px;
                margin-right: 22px;
            }
        }
        .ico_basket {
            margin-bottom: -8px;
            margin-left: 11px;
        }
        input[type='text'] {
            width: 173px;
            padding: 0px 13px;
            height: 41px;
            font-size: 13px;
        }

        .channel-icon-upload {
            width: 60px;
            height: 60px;
            position: relative;
            margin-bottom: 7px;
            background: url(/img/tutor-1.png) no-repeat;
            background-size: cover;
            cursor: pointer;
            margin: 25px 10px 22px 33px;
            .ico_download_white{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

    }

}