@import '../../sass/base/__base';
@import "compass/css3";

.activies_page_wrap {
    .content_wrap, .wrap_block {
        margin-top: em(60px, $base-font-size);
    }
    .status_wrap {
        width: flex(370px, $base-width-content);
        .valid {
            font-weight: 500;
        }
    }
    .block_img {
        border: 1px solid #cecfd0;
        @include border-radius(4px);
        // width: 296px;
        // height: 283px;
        // padding: 13px;
        padding: em(13px, $base-font-size) flex(13px, 296px);
        width: 100%;
        display: block;
        img {
            max-width: 100%;
            display: inline-block;
        }
    }
    .description textarea{
        // width: 388px;
        // height: 126px;
        width: 100%;
        height: em( 146px, $base-font-size);
        margin-top: 0;
    }
    .brand_news_toolbax_list  {
        width: flex(296px, $base-width-content);
        height: em(283px, $base-font-size);
        li {
            height: 100%;
            a {
                height: 100%;
                position: relative;
                border-color: #cecfd0;
                background-color: #f8faf9;
                text-align: center;
                .btn {
                    width: flex(340px, $base-width-content);
                    left: 27.5%;
                    top: 8em;
                    position: absolute;
                }
            }
        }
    }
    .channel {
        width: flex(320px, $base-width);
        float: left;

        .icon {
            margin: 0px auto;
        }
        .name_channels {
            font-family: pragmatica,Helvetica,Arial,sans-serif;
            font-weight: 300;
            font-size: $base-font-size;
            line-height: 1;
            color: $base-color;
            text-align: center;
            padding: em(15px, $base-font-size) 0;
        }
        ul {
            li {
                margin: em(7px, $base-font-size) 0;
                a {
                    color: $gray-color;
                    position: relative;
                    margin-left: flex(90px, 246px);
                    display: block;
                    padding: em(5px, $base-font-size) 0;
                    text-decoration: none;
                    &:before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        @include border-radius(100%);
                        background-color: $gray-color;
                        position: absolute;
                        display: block;
                        left: -12px;
                        top: 12px;
                    }
                }
                label {
                    margin-left: flex(90px, 246px);
                    color: $gray-color;
                }
            }
        }
    }
    .wrap_block {
        .title {
            font-family: pragmatica,Helvetica,Arial,sans-serif;
            font-weight: 300;
            font-size: em($brand_news_title-font-size, $base-font-size);
            line-height: 1;
            color: $base-color;
            margin-bottom: em(28px, $main_title-font-size);
        }
        p.text {
            font-family: pragmatica,Helvetica,Arial,sans-serif;
            font-weight: 300;
            font-size: em($base-font-size, $base-font-size);
            line-height: em(21px, $base-font-size);
            color: $gray-color;
            letter-spacing: 1px;
        }
    }
    // .content_wrap {
    //     .btn:nth-last-child(1) {
    //         margin-bottom: 1px;
    //     }
    // }
    .attachments_blocks {
        margin-bottom: em(60px, $base-font-size);

        .block {
            // width: flex(450px, $base-width);
            float: left;
            width: 100%;
            margin-top: em(60px, $base-font-size);
            
            .icon {
                width: flex(75px, $base-width-content);
                float: left;
                padding: em(5px, $base-font-size) flex(5px, $base-width-content);
                @include border-radius(100%);
                cursor: pointer;
                border: 1px solid transparent;
                position: relative;
                margin-right: flex(15px);
                &:hover {
                    border-color: #42CE7F;
                }
                img {
                    max-width: 100%;
                    margin: 0px auto;
                    display: block;
                }
                .ico_search {
                    position: absolute;
                    top: em(25px, $base-font-size);
                    left: flex(25px, 73px);
                    display: none;

                    @media (max-width: 768px) {
                        top: 1.4em;
                        left: 32.24658%;
                    }
                }
                &:hover .ico_search{
                    display: block;
                }
            }
            .name {
                float: left;
                width: 80%;
                margin-top: em(15px, $base-font-size);
                position: relative;
                a.sprite.sprite_ico.ico_basket {
                    margin: em(-2px, $base-font-size) flex(5px, $base-width-content);
                    position: absolute;
                }
            }
            .checkbox {
                display: inline-block;
                position: relative;
                margin-top: em(12px, $base-font-size);
                color: $gray-color;
                label:before {
                    position: absolute;
                    left: 0px;
                    top: -1px;
                }
            }
            textarea {
                width: 100%;
                height: em(142.5px, $base-font-size);
                padding: em(12px, $base-font-size) flex(10px, $base-width-content);
                margin-top: em(20px, $base-font-size);
            }
        }
        .block_upload_file {
            margin: em(30px, $base-font-size) 0 em(50px, $base-font-size);
            // border-bottom: 1px solid #cecfd0;
            span {
                margin-left: flex(20px, $base-width-content);
                color: $gray-color;

                @media (max-width: 768px) {
                    display: block;
                    margin-left: 0;
                    margin-top: 1em;
                }
            }
        }
        .block_options_draft {
            padding: em(50px, $base-font-size) 0;
            border-top: 1px solid #cecfd0;
            border-bottom: 1px solid #cecfd0;
            button.btn.btn-default {
                width: flex(200px, $base-width-content);
                overflow: hidden;
            }
            button.btn.btn-default.center {
                margin-left: flex(70px, $base-width-content);
            }
            @media (max-width: 840px) {
                button.btn.btn-default {
                    font-size: 12px;
                }
            }
        }
        .block_request_comment {
            margin-top: em(60px, $base-font-size);
            textarea {
                width: 100%;
                height: em(142.5px, $base-font-size);
                padding: em(12px, $base-font-size) flex(10px, $base-width-content);
                margin: em(30px, $base-font-size) 0;
            }
            .select_wrap  {
                width: flex(355px, $base-width-content);
                .select2-container {
                    .select2-selection--single {
                        .select2-selection__rendered {
                            padding-left: em(20px, $base-font-size);
                            padding-right: em(20px, $base-font-size);
                        }
                    }
                }
            }
        }
    }
    .calendar_block {
        display: none;
        #datepicker {
            z-index: 100;
            position: relative;
            float: left;
            width: 100%;
            .ui-datepicker-month, .ui-datepicker-year, .ui-datepicker-calendar {
                font-family: pragmatica,Helvetica,Arial,sans-serif;
                font-size: 12px;
            }
            .ui-datepicker-calendar tr td a {
                color: $gray-color;
                @include border-radius(100%);
                width: 23px;
                height: 23px;
                padding: 7px 0px;
                text-align: center;
                border: none;
                background: none;
            }
            .ui-datepicker-calendar tr td a.ui-state-active {
                background: #22c866;
                color: $white-color;
            }
            .ui-datepicker-calendar tr td a.ui-state-active2 {
                background: #d76969;
                color: $white-color;
            }
            .ui-datepicker .ui-datepicker-header {
                background: none;
                border: none;
                color: $gray-color;
                height: 75px;
                border-bottom: 1px solid #cecfd0;
                @include border-radius(0px);
                padding-top: 22px;
            }
            a.ui-corner-all{
                background: none;
                border: none;
                &:hover {
                    background: none;
                    border: none;
                }
            }
            .ui-datepicker .ui-datepicker-prev span {
                background: url(/i/sprite.png) -80px -160px no-repeat;
                width: 5px;
                height: 11px;
                top: 36px;
            }
            .ui-datepicker .ui-datepicker-next span {
                background: url(/i/sprite.png) -120px -160px no-repeat;
                width: 5px;
                height: 11px;
                top: 36px;
            }
            .ui-datepicker-inline {
                width: 90%;
                margin-left: 5%;
                @include border-radius(0px);
                border: 0px;
            }
        }
        .datepicker_bottom_block {
            float: left;
            width: 100%;
            z-index: 100;
            font-size: 12px;
            .info_block {
                height: 55px;
                width: 90%;
                margin-left: 5%;
                background: #eeeeee;
                z-index: 100;
                position: relative;
                border-bottom: 1px solid #cecfd0;
                span {
                    margin: 30px 0px 0px 145px;
                    display: inline-block;
                    color: $gray-color;
                    &:before {
                        content: '';
                        width: 11px;
                        height: 10px;
                        margin: 0px 10px 0px 0px;
                        display: inline-block;
                        @include border-radius(100%);
                    }
                    &.starting {
                        margin: 20px 0px 0px 145px;
                        &:before {
                            background-color: #22c866;                 
                        }
                    }
                    &.ending {
                        margin: 20px 0px 0px 5px;
                        &:before {
                            background-color: #d76969;
                        }
                    }
                }
            }
            .reset_block {
                height: 55px;
                width: 90%;
                margin-left: 5%;
                background: #eeeeee;
                z-index: 100;
                position: relative;
                border-bottom: 1px solid #cecfd0;
                .reset {
                    margin: 20px 0px 0px 252px;
                    display: inline-block;
                    color:  #d76969;
                }
            }
        }
    }
}

.select2-results__option {
    padding-left: em(20px, $base-font-size);
    padding-right: em(20px, $base-font-size);
}

.attachments_block_wrap {
    overflow: hidden;
}

.img_circle_wrap {
    margin-right: flex(15px, $base-width-content);
    padding: em(4px);
    border: 1px solid transparent;
    @include border-radius(100%);
    width: flex(71px, $base-width-content);
    height: em(71px);
    .img_circle {
        width: 100%;
        height: 100%;
        .ico_search {
            position: absolute;
            top: em(20px, $base-font-size);
            left: flex(20px, 61px);
            display: none;
            z-index: 2;
            @media (max-width: 768px) {
                top: 1.4em;
                left: 32.24658%;
            }
        }
    }
    &:hover {
        border-color: #42CE7F;
        .ico_search{
            display: block;
        }
    }
}

.wrap_blocks {
    .main_title {
        &.main_title_actives {
            margin-top: em(122px, $main_title-font-size);
        }
    }
}