.brand_news {
	position: relative;
	padding: em(90px, $base-font-size) 0 em(100px, $base-font-size) 0;
	border-top: 1px solid #cecfd0;
	border-bottom: 1px solid #cecfd0;
	.btn_circle {
		position: absolute;
		top: em(-23px, $btn-font-size);
		background-color: $white-color;
	}
	.brand_news_list {
		li {
			margin-top: em(43px, $base-font-size);
			p {
				// font-family: 'proxima_nova_cn_rgregular';
				font-family: pragmatica,Helvetica,Arial,sans-serif;
				font-weight: 300;
				font-size: em($base-font-size, $base-font-size);
				line-height: em(21px, $base-font-size);
				// color: #909294;
				color: $gray-color;
				color: #909294;
				letter-spacing: 1px;
			}
			.brand_news_title {
				margin-bottom: em(28px, $main_title-font-size);
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.btn_wrap {
		width: flex(900px, $base-width);
		max-width: 740px;
		height: em(50px, $base-font-size);
		margin: 0 auto;
		position: absolute;
		bottom: em(-28px);
		@media (max-width: 960px) {
            width: flex(700px, $base-width);
        }
        @media (max-width: 770px) {
            width: flex(900px, $base-width);
        }
        &.full-size {
			min-width: initial;
			width: 30%;
			right: 0;
			.btn_big_rounded_wrap{
				width: 100%;
			}
		}
	}
	.btn_big_rounded_wrap {
		display: inline-block;
		background-color: #fff;
		@include border-radius(100%);
		width: flex(160px, 740px);
		// width: 11.8em;
		height: em(50px);
		position: absolute;
		bottom: 0;
		.btn {
			&.btn_big_rounded {
				.ico_edit {
					left: flex(-17px, 218px - 12px);
				}
				.ico_add {
					left: flex(-17px, 218px - 12px);
				}
				.ico_search_gray{
					position: absolute;
					top: 11px;
					left: 16px;
				}
			}
		}
		.btn_search{
			input{
				border: none;
				font-family: 'Brandon Grotesque';
				font-size: 12px;
				letter-spacing: 0px;
				font-weight: 600;
				margin-left: 40px;
				float: left;
				padding-right: 5px;
			}
		}
		&.btn_toolbox {
			// width: flex(170px, $base-width - $base-margin);
			height: em(53px, $base-font-size);
			.btn_big_rounded {
				height: 100%;
				line-height: em(53px, $btn-font-size);
				.ico_edit, .ico_add, .ico_upload {
					left: flex(-5px, 170px);
				}
			}
		}
		&.pos_left {
			left: 0;
		}
		&.pos_right {
			right: 0;
		}
		&.btn_big_rounded_top {
			top: em(-22px);
			height: em(44px);
			// width: flex(164px);
			width: 13%;
			.btn_big_rounded {
				height: em(44px, 12px);
				line-height: em(44px, 12px);
			}
		}
		.btn_big_rounded {
			background-color: #fff;
		}

		@media (max-width: 768px) {
			width: 10.8em;
		}
	}
}

.brand_news_toolbax {
	overflow: hidden;
	&.description {
		.brand_news_list {
			width: flex(390px, $base-width-content);
		}
		.brand_news_toolbax_list {
			margin-left: 0;
		}
	}
	.brand_news_list {
		width: flex(460px, $base-width-content);
		.btn {
			margin-top: em(60px, $base-font-size);
			&.btn_small {
				width: flex(147px, 460px);
			}
		}
	}
	.brand_news_toolbax_list {
		margin-left: flex(100px, $base-width-content);
	}
}
.brand_news_toolbax_list {
	// margin-top: em(49px, $base-font-size);
	margin-top: em(2px);
	li {
		margin-top: em(35px, $base-font-size);
		&:first-child {
			margin-top: 0;
		}
	}
}