$brand_news-font-size: 15px;
.brand_news {
	position: relative;
	padding: em(90px, $base-font-size) 0 em(100px, $base-font-size) 0;
	border-top: 1px solid #cecfd0;
	border-bottom: 1px solid #cecfd0;
	.btn_circle {
		position: absolute;
		top: -29px;
		background-color: $white-color;
	}
	.brand_news_list {
		li {
			margin-top: em(43px, $base-font-size);
			p {
				// font-family: 'proxima_nova_cn_rgregular';
				font-family: pragmatica,Helvetica,Arial,sans-serif;
				font-weight: 300;
				font-size: em($brand_news-font-size, $base-font-size);
				line-height: em(21px, $brand_news-font-size);
				// color: #909294;
				color: $gray-color;
				letter-spacing: 1px;
			}
			.brand_news_title {
				margin-bottom: em(28px, $main_title-font-size);
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.btn_wrap {
		width: $base-width - $base-margin;
		height: em(50px, $base-font-size);
		margin: 0 auto;
		position: absolute;
		bottom: -28px;
	}
	.btn_big_rounded_wrap {
		display: inline-block;
		background-color: #fff;
		width: 218px;
		height: em(50px, $btn-font-size);
		position: absolute;
		bottom: 0;
		&.btn_toolbox {
			width: flex(170px, $base-width);
			height: em(50px, $base-font-size);
			.btn_big_rounded {
				height: em(50px, $btn-font-size);
				line-height: em(50px, $btn-font-size);
			}
		}
		&.pos_left {
			left: 0;
		}
		&.pos_right {
			right: 0;
		}
		.btn_big_rounded {
			background-color: #fff;
		}
	}
}

.brand_news_toolbax {
	overflow: hidden;
	.brand_news_list {
		width: flex(460px, $base-width-content);
		.btn {
			margin-top: em(60px, $base-font-size);
			&.btn_small {
				width: flex(147px, 460px);
			}
		}
	}
	.brand_news_toolbax_list {
		margin-left: flex(100px, $base-width-content);
	}
}
.brand_news_toolbax_list {
	margin-top: em(49px, $base-font-size);
	li {
		margin-top: em(35px, $base-font-size);
		&:first-child {
			margin-top: 0;
		}
	}
}