.btn {
	font-size: em($btn-font-size, $base-font-size);
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	// font-family: 'brandon_grotesquebold';
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	vertical-align: middle;
	&.btn_circle {
		width: 45px;
		height: 45px;
		border: 1px solid #dedfdf;
		@include border-radius(30px);
		&.ico_star {
			background-position: -66px 14px;
			&:hover {
				background-position: -67px -27px;
			}
			&.active {
				background-position: -66px -66px;
			}
		}
		&.ico_eye {
			background-position: -270px 15px;
			&:hover {
				background-position: -270px -65px;
			}
			&.active {
				background-position: -270px -145px;
			}
		}
		&.ico_edit {
			  background-position: -346px 11px;
			&:hover {
				background-position: -346px -69px;
			}
			&.active {
				background-position: -346px -149px;
			}
		}
	}
	&.btn_rounded {
		border: none;
		@include border-radius(5px);
		width: 95px;
		height: 36px;
		color: $white-color;
		
		&:hover {
			@include opacity(0.5);
		}
		&.active {
			@include opaque;
		}
	}
	&.btn_big_rounded {
		border: 1px solid #cecfd0;
		@include border-radius(30px);
		// width: 218px;
		width: 100%;
		height: em(50px, $btn-font-size);
		line-height: em(42px, $btn-font-size);
		// color: #909294;
		color: $gray-color;
		&:hover {
			@include opacity(0.5);
			.ico_upload {
				background-position: -440px 0px;
			}
			.ico_edit {
				background-position: -520px 0px;
			}
			.ico_add {
				background-position: -760px 0px;
			}
		}
		&.active {
			@include opaque;
			.ico_upload {
				background-position: -440px 0px;
			}
			.ico_edit {
				background-position: -520px 0px;
			}
			.ico_add {
				background-position: -760px 0px;
			}
		}
		.ico_upload {
			position: relative;
			top: em(5px, $btn-font-size);
			left: -17px;
		}
		.ico_edit {
			position: relative;
			top: em(4px, $btn-font-size);
			left: -17px;
		}
		.ico_add {
			position: relative;
			top: em(5px, $btn-font-size);
			left: -17px;
		}
	}
	&.btn-default {
		width: flex(146px, $base-width-content);
		height: em(41px, $btn-font-size);
		line-height: em(41px, $btn-font-size);
		border: 1px solid #dedfdf;
		&:hover {
			background-color: #0f3e6e;
			color: $white-color;
		}
		&.active {
			background-color: $white-color;
			color: #738189;
		}
	}
	&.btn-save {
		&:hover {
			background-color: #2ecc71;
			color: $white-color;
		}
		&.active {
			background-color: $white-color;
			color: #738189;
		}
	}
	&.btn-delete {
		&:hover {
			background-color: #b70e12;
			color: $white-color;
		}
		&.active {
			background-color: $white-color;
			color: #738189;
		}
	}
	&.btn-decline {
		&:hover {
			background-color: #b70e12;
			color: $white-color;
		}
		&.active {
			background-color: $white-color;
			color: #738189;
		}
	}
	&.btn-upload {
		background-color: #f8faf9;
		color: rgba(50, 58, 69, 100);
		&:hover, &.active {
			background-color: #f8faf9;
			color: rgba(50,58,69, .5);
		}
	}
	&.btn-link {
		text-transform: none;
		display: inline;
		width: auto;
		height: auto;
		line-height: 1;
		padding: 0;
		border: none;
		border-bottom: 1px solid transparent;
		color: #747476;
		&:hover {
			border-bottom: 1px solid #9d9d9e;
			background: none;
			color: #747476;
		}
		&.active {
			border-bottom: 1px solid transparent;
		}
	}
	&.btn_small {
		font-size: em($base-font-size, $base-font-size);
		height: em(42px, $base-font-size);
		line-height: em(42px, $base-font-size);
		width: flex(147px, $base-width-content);
	}
	&.btn_long {
		height: em(45px, $base-font-size);
		line-height: em(45px, $base-font-size);
		width: flex(182px, $base-width-content);
	}
	&.btn_gray {
		background-color: #7e8890;
	}
	&.btn_red {
		background-color: #b70e12;
	}
	&.btn_green {
		background-color: #2ecc71;
	}
}