.btn {
	font-size: 0.8em;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Brandon Grotesque';
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    overflow: hidden;
    color: #666;
    text-decoration: none;
    &.btn_inactive {
    	cursor: pointer;
	}
	&.btn_status {
        .valid {
            font-weight: 500;
        }
        .btn_big_rounded {
            .ico_status {
                margin-left: flex(21px, 370px);
            }
        }
    }
    &.btn_search{
    	padding-left: 59px;
		.ico_search_gray{
			position: absolute;
			top: 13px;
			left: 20px;
		}
        input{
			font-family: 'Brandon Grotesque';
			border: none;
			font-size: 13px;
			letter-spacing: 0px;
			font-weight: 600;
			margin-left: 0px;
			float: left;
			padding-right: 5px;
			line-height: 42px;
        }
    }
	&.btn_select {
		position: relative;
		width: 100%;
		background: none;
		line-height: em(59px);
		height: em(59px);
		border: 1px solid #929191;
		font-size: em(15px);
		text-align: left;
		padding: 0 em(40px);
		font-weight: bold;
		.btn_select_arrow {
			border-color: #4d4d4d transparent transparent transparent;
			border-style: solid;
			border-width: 7px 7px 0 7px;
			margin: -3px 0 0 -7px;
			height: 0;
			position: absolute;
			right: 17px;
			top: 50%;
			width: 0;
		}
		.btn_select_decor {
			position: absolute;
			top: 0;
			right: 49px;
			width: 2px;
			height: 100%;
			background-color: #929191;
		}
		&.active {
			.btn_select_arrow {
				border-width: 0px 7px 7px 7px;
				border-color: transparent transparent #888 transparent;
			}
		}
		&.indent-top {
			margin-top: em(31px);
		}
	}
	&.btn_circle {
		width: 45px;
		height: 45px;
		border: 1px solid #dedfdf;
		@include border-radius(30px);
		&.ico_star {
			background-position: -66px 14px;
			&:hover {
				background-position: -67px -27px;
			}
			&:active {
				background-position: -66px -66px;
			}
			&.active {
				background-position: -66px -66px;
			}
		}
		&.ico_eye {
			background-position: -270px 15px;
			
			@include transition-property(opacity);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
			&:hover {
				// background-position: -270px -65px;
				@include opacity(0.6);
			}
			&:active {
				background-position: -270px -145px;
			}
		}
		&.ico_edit {
			  background-position: -346px 11px;
			&:hover {
				background-position: -346px -69px;
			}
			&:active {
				background-position: -346px -149px;
			}
		}
		&.ico_archive {
			background-position: -1229px -68px;
			@include transition-property(opacity);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
			&:hover {
				// background-position: -270px -65px;
				@include opacity(0.6);
			}
		}
	}
	&.btn_rounded {
		border: none;
		@include border-radius(5px);
		width: 95px;
		height: 36px;
		color: $white-color;
		
		&:hover {
			@include opacity(0.5);
			@include transition-property(opacity);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
		}
		&:active {
			@include opaque;
		}
	}
	&.btn_big_rounded {
		border: 1px solid #cecfd0;
		@include border-radius(30px);
		// width: 218px;
		width: 100%;
        height: em($btn-rounded-height, $btn-rounded-font-size);
        line-height: em($btn-rounded-height, $btn-rounded-font-size);
		// color: #909294;
		// color: $gray-color;
		color: #7E8D95;
		@include transition-property(opacity);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		&.no-hover:hover{
			@include opacity(1);
		}
		&:hover {
			@include opacity(0.5);
			.ico_upload {
				background-position: -440px 0px;
			}
			.ico_edit {
				background-position: -520px 0px;
			}
			.ico_add {
				background-position: -760px 0px;
			}
		}
		&:active {
			@include opaque;
			.ico_upload {
				background-position: -440px 0px;
			}
			.ico_edit {
				background-position: -520px 0px;
			}
			.ico_add {
				background-position: -760px 0px;
			}
		}
		&.error_validation {
			border-color: #b70e12;
		}
		.ico_upload {
			position: relative;
			top: em(5px, $btn-font-size);
			left: -17px;
		}
		.ico_edit {
			position: relative;
			top: em(4px, $btn-font-size);
			left: flex(-17px, 164px);
			@media (max-width: 768px) {
     			left: 0;
    		}
		}
		.ico_add {
		    position: relative;
		    top: 2px;
		    left: flex(-17px, 164px);
		}
	}
	&.btn-default {
		width: 20%;
		height: em(41px, 12px);
		border: 1px solid #ccc;
		line-height: em(41px, 12px);
		@include transition-property(background-color, color);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		&:hover {
			background-color: #0f3e6e;
			color: $white-color;
		}
		&:active {
			background-color: $white-color;
			color: #738189;
		}
		&.indent-top {
			margin-top: 48px;
		}
	}
	&.btn-save {
		&:hover {
			background-color: #2ecc71;
			color: $white-color;
		}
		&:active {
			background-color: $white-color;
			color: #738189;
		}
	}
	&.btn-delete {
		&:hover {
			background-color: #b70e12;
			color: $white-color;
		}
		&:active {
			background-color: $white-color;
			color: #738189;
		}
	}
	&.btn-decline {
		&:hover {
			background-color: #b70e12;
			color: $white-color;
		}
		&:active {
			background-color: $white-color;
			color: #738189;
		}
	}
	&.btn-upload {
		background-color: #f8faf9;
		color: rgba(50, 58, 69, 100);
		&:hover, &:active {
			background-color: #f8faf9;
			color: rgba(50,58,69, .5);
		}
	}
	&.btn-link {
		text-transform: none;
		display: inline;
		width: auto;
		height: auto;
		line-height: 1;
		padding: 0;
		border: none;
		border-bottom: 1px solid transparent;
		color: #747476;

		@include transition-property(border-bottom, color, background);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);
		&:hover {
			border-bottom: 1px solid #9d9d9e;
			background: none;
			color: #747476;
		}
		&:active {
			border-bottom: 1px solid transparent;
		}
	}
	&.btn_small {
		font-size: em($base-font-size, $base-font-size);
		height: em(41px, $base-font-size);
		height: 41px;
		line-height: em(41px, $base-font-size);
		width: flex(147px, $base-width-content);
	}
	&.btn_long {
		height: em(41px, 12px);
		line-height: em(41px, 12px);
		width: flex(182px, $base-width-content);
	}
	&.btn_gray {
		background-color: #7e8890;
	}
	&.btn_red {
		background-color: #b70e12;
	}
	&.btn_green {
		background-color: #2ecc71;
	}
}