$calendar-font-size: 12px;
.calendar_wrap {
	margin-top: em(38px);
	width: flex(289px);
}

.calendar_input {
	font-size: em($calendar-font-size);
	text-align: center;
	line-height: em(40px, $calendar-font-size);
	width: flex(100px);
	height: em(40px, $calendar-font-size);
	&.calendar_from {
		margin-left: flex(10px);
	}
	&.calendar_to {

	}
}

.calendar_date-separator {
	display: inline-block;
	margin: 0 flex(5px);
}

.calendar_status_wrap {
	.calendar_status {
		font-size: em($calendar-font-size);
		font-weight: 700;
		text-transform: uppercase;
		color: $gray-color;
		// vertical-align: -1px;
		&.calendar_status-valid {
			display: inline-block;
		}
		&.calendar_status-error {
			display: none;
		}
	}
}

.calendar_date {
	&.distinction {
		color: $distinction-color;
	}
}



.comiseo-daterangepicker-presets {
	display: none;
}

.comiseo-daterangepicker {
	// padding: em(25px) em(20px) 0;
	&.ui-corner-all {
		border-color: #cecfd0;
		@include border-radius(0);
		border-bottom: none;
	}
	.ui-datepicker-title {
		font-family: pragmatica,Helvetica,Arial,sans-serif;
		font-weight: 600;
		font-size: em($calendar_title-font-size);
		line-height: 1;
		color: #7e8890;
		text-transform: uppercase;
	}
	.ui-datepicker {
		font-family: pragmatica,Helvetica,Arial,sans-serif;
		.ui-state-highlight {
			border-width: 0;
			border: none;
			padding: 0;
			background: none;
			a {
				&.ui-state-default {
					background: none;
					color: #7e8890;
				}
			}
		}
		.ui-datepicker-next {
			top: 25px;
			right: 27px;
		}
		.ui-datepicker-prev {
			top: 25px;
			left: 27px;
		}
		th {
			color: #7e8890;
			font-size: em($calendar_title-font-size);
		}
		td {
			text-align: center;
			padding: em(11px) em(2px);
			a {
				display: inline-block;
				font-weight: 300;
				font-size: em(13px);
				color: #7e8890;
				background: none;
				border: 1px solid transparent;
				width: em(23px, 13px);
				height: em(23px, 13px);
				line-height: em(17px, 13px);
				border-radius: 100%;
				text-align: center;
			}
			&.ui-state-highlight-end {
				a {
					background: #d76969;
					color: $white-color;
				}
			}
			&.ui-state-highlight-start {
				a {
					background: #22c866;
					color: $white-color;
				}
			}
		}
	}
	> .comiseo-daterangepicker-main {
		&.ui-widget-content {
			border: none;
		}
	}
	.ui-state-hover,
	.ui-widget-content .ui-state-hover,
	.ui-widget-header .ui-state-hover,
	.ui-state-focus,
	.ui-widget-content .ui-state-focus,
	.ui-widget-header .ui-state-focus {
		background: transparent;
	}
	.ui-widget-content {
		border-width: 0;
		border: none;
		padding: 0;
		background: none;
	}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	font-family: pragmatica,Helvetica,Arial,sans-serif;
}

.comiseo-daterangepicker-right {
	.comiseo-daterangepicker-calendar {
		border: none;
	}
	.comiseo-daterangepicker-buttonpanel {
		display: none;
	}
}

.comiseo-daterangepicker {
	padding: 0;
	.comiseo-daterangepicker-calendar {
		display: block;
		height: auto;
	}
	.ui-datepicker {
		width: 100%;
		.ui-widget-header {
			border: none;
			background: none;
			color: $gray-color;
		}
		.ui-datepicker-prev {
			span {
				background: url(/i/sprite.png) -80px -160px no-repeat;
			}
		}
		.ui-datepicker-next {
			span {
				background: url(/i/sprite.png) -120px -160px no-repeat;
			}
		}
		.ui-widget-content {
			background: #f8faf9;
		}
		.ui-datepicker-header {
			font-size: em($calendar_title-font-size, 16.5px);
			padding: em(26px, $calendar_title-font-size) 0 em(26px, $calendar_title-font-size);
			border-bottom: 1px solid #cecfd0;
			@include border-radius(0);
			.ui-datepicker-title {
				font-size: em($calendar_title-font-size, 13px);
				// margin-top: em(-6px, $calendar_title-font-size);
			}
		}
		table {
			width: 86%;
			margin: em(20px) auto 0;
		}
	}
}

.comiseo-daterangepicker-triggerbutton {
	&.ui-button {
		display: none;
	}
}

// .datepicker_bottom_block {
// 	position: absolute;
// }

.comiseo-daterangepicker {
	.datepicker_bottom_block {
		width: 100%;
        z-index: 100;
        font-size: em(12px, 16.5px);
		.info_block {
			height: em(35px, 12px);
			width: 100%;
			margin-left: 0;
			background: #eeeeee;
            z-index: 100;
            position: relative;
            span {
                margin: 30px 0px 0px 145px;
                display: inline-block;
                color: $gray-color;
                &:before {
                    content: '';
                    width: 11px;
                    height: 10px;
                    margin: 0px 10px 0px 0px;
                    display: inline-block;
                    @include border-radius(100%);
                }
                &.starting {
                    margin: 20px 0px 0px 145px;
                    &:before {
                        background-color: #22c866;                 
                    }
                }
                &.ending {
                    margin: 20px 0px 0px 5px;
                    &:before {
                        background-color: #d76969;
                    }
                }
            }
		}
		.reset_block  {
			height: 55px;
			width: 100%;
			margin-left: 0;
			background: #eeeeee;
            z-index: 100;
            position: relative;
            border-bottom: 1px solid #cecfd0;
            .reset {
                margin: 20px 0px 0px 252px;
                display: inline-block;
                color:  #d76969;
                cursor: pointer;
            }
		}
	}
}