input[type="checkbox"] {
    display: inline-block;
    position: absolute;
    left: -9999px;       
}
input[type="checkbox"] + label {
  cursor: pointer;
}
// input[type="checkbox"] + label::before,
// input[type="radio"] + label::before {
//     content: "";
//     display: inline-block;
//     height: 18px;
//     width: 18px;
//     margin: 0 5px 0 0;
//     // background: url(/i/sprite.png) 0px 0px no-repeat;
//     // background-repeat: no-repeat;
//     background: none;
//     border: 1px solid #c2c2c2;
// }
// input[type="checkbox"] + label::before {
//     // background: url(/i/sprite.png) 0px -160px;    
// }
// input[type="checkbox"] {
//     &.distinction {
//         &+ label {
//             color: $distinction-color;
//             &::before {
//                 border-color: $distinction-color;
//             }
//         }
//     }
// }
// input[type="checkbox"]:checked + label::before {
//     background: url(/i/sprite.png) -40px -240px;
// }
// input[type="checkbox"]:disabled + label::before {
//     background: url(/i/sprite.png) 0px -160px;
// }
// input[type="checkbox"]:checked:disabled + label::before {
//     background: url(/i/sprite.png) -40px -240px;
// }

input[type="checkbox"] {
    // &+ label {
    //     .label_ico {
    //         display: inline-block;
    //         height: 18px;
    //         width: 18px;
    //         margin: 0 5px 0 0;
    //         background: none;
    //         border: 1px solid #c2c2c2;
    //     }
    // }
    // &.distinction {
    //     &+ label {
    //         color: $distinction-color;
    //         .label_ico {
    //             border-color: $distinction-color;
    //         }
    //     }
    // }
    // &:checked {
    //     &+ label {
    //         .label_ico {
    //             background: url(/i/sprite.png) -40px -240px;
    //         }
    //     }
    // }
    // &.checked {
    //     &+ label {
    //         .label_ico {
    //             background: url(/i/sprite.png) -40px -240px;
    //         }
    //     }
    // }
    // &:disabled {
    //     &+ label {
    //         .label_ico {
    //             background: url(/i/sprite.png) 0px -160px;
    //         }
    //     }
    // }
    // &:checked {
    //     &:disabled {
    //         &+ label {
    //             .label_ico {
    //                 background: url(/i/sprite.png) -40px -240px;
    //             }
    //         }
    //     }
    // }
    // &.checked {
    //     &:disabled {
    //         &+ label {
    //             .label_ico {
    //                 background: url(/i/sprite.png) -40px -240px;
    //             }
    //         }
    //     }
    // }
}

input[type="checkbox"] {
    // &+ label {
    //     &::before {
    //         vertical-align: -3px;
    //         margin-right: em(8px);
    //     }
    //     .label_ico {
    //         vertical-align: -3px;
    //         margin-right: em(8px);
    //     }
    // }
}

label.checkbox {
    .label_ico {
        display: inline-block;
        height: 18px;
        width: 18px;
        margin: 0 5px 0 0;
        background: none;
        border: 1px solid #c2c2c2;
        background: url(/i/sprite.png) 0px -240px;
    }
    &.chacked .label_ico{
        background: url(/i/sprite.png) -40px -240px;
    }
    &.distinction {
        color: $distinction-color;
        .label_ico {
            border-color: $distinction-color;
        }
    }
}