html, body {
    min-height: 100%;
    height: 100%;
}

body {
    font-size: $base-font-size;
    color: $base-color;
    font-family: $base-font-family;
}

#mainarea {
	position: relative;
	padding-bottom: em(57px, $base-font-size);
	min-height: 100%;
	height: auto !important;
	margin: 0 auto em(-57px, $base-font-size);
}

.wrap {
	width: $base-width;
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	.header &, .footer &, &.padding-left {
		padding-right: 0;
	}
	&.padding-none {
		padding: 0;
	}
	&.indent_bottom {
		margin-bottom: em(62px);
	}
	&.wrap_navigation_relative {
		position: relative;
	}

	@media (max-width: 768px) {
		padding: 0 1.4em;
	}
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.center {
	text-align: center;
}

textarea {
    resize: none;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.clear {
	clear: both;
}

*, :after, :before {
	// -webkit-box-sizing: border-box;
	// -moz-box-sizing: border-box;
	// box-sizing: border-box;
	@include box-sizing(border-box);
	&:focus {
		outline: none;
	}
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed $white-color;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.content_wrap {
	margin: em(20px) 0;
	&.content_wrap_indent {
		margin-top: em(88px, $base-font-size);
	}
	&.content_wrap_indent_bottom {
		margin-bottom: em(75px);
	}
	&.bg_gray {
		background-color: #f8faf9;
	}
	&.content_wrap_noindent {
		margin-top: 0;
	}
	&.min_indent_bottom {
		margin-bottom: em(62px);
	}
}

.js-img_wrap {
	overflow: hidden;
	img {
		display: block;
		width: 100%;
	}
}

// UI-elements
.ui_list {
	margin: 50px 25px;
	overflow: hidden;
	li {
		float: left;
		width: 33%;
		padding: 1px 10px;
	}
}

.select2-results__option:empty {
	display: none;
}

.hidden {
	display: none;
}

.profile_btn_wrap {
	&.profile-indent {
		margin-top: em(50px);
		margin-bottom: em(50px);
		padding-top: em(30px);
		border-top: 1px solid #cecfd0;
	}
}