.attachments_blocks {
    // margin-top: em(30px, $base-font-size);
    margin-bottom: em(60px, $base-font-size);
    .block {
        &:nth-child(2n) {
            // margin-left: flex(21px, 346px);
        }
    }

}
.block {
    width: flex(450px, $base-width);
    float: left;
    margin-top: em(60px, $base-font-size);
    .icon {
        width: flex(95px, 450px);
        float: left;
        padding: em(5px, $base-font-size) flex(5px, 300px);
        @include border-radius(100%);
        cursor: pointer;
        border: 1px solid transparent;
        position: relative;
        margin-right: flex(15px);
        &:hover {
            border-color: #42CE7F;
        }
        img {
            max-width: 100%;
            margin: 0px auto;
            display: block;
        }
        .ico_search {
            position: absolute;
            top: em(25px, $base-font-size);
            left: flex(25px, 73px);
            display: none;

            @media (max-width: 768px) {
                top: 1.3em;
                left: 32.24658%;
            }
        }
        &:hover .ico_search{
            display: block;
        }
    }
    .icon_wrap {
        float: left;
        width: flex(95px, 450px);
        margin: em(-5px) flex(15px, 450px) em(-5px) 0;
        .icon {
            width: 100%;
            padding: em(5px, $base-font-size) flex(5px, 300px);
            @include border-radius(100%);
            cursor: pointer;
            border: 1px solid transparent;
            position: relative;
            &:hover {
                border-color: #42CE7F;
            }
            img {
                max-width: 100%;
                margin: 0px auto;
                display: block;
            }
            .ico_search {
                position: absolute;
                top: em(25px, $base-font-size);
                left: flex(25px, 73px);
                display: none;

                @media (max-width: 768px) {
                    top: 1.3em;
                    left: 32.24658%;
                }
            }
            &:hover .ico_search{
                display: block;
            }
        }
        .center {
            .sprite_ico {
                margin-top: em(10px);
            }
        }
    }
    .name {
        float: left;
        // font-weight: 500;
        font-family: 'Brandon Grotesque';
        font-weight: 300;
    }
    .text {
        float: left;
        width: flex(300px, 450px);
        margin-top: em(10px, $base-font-size);
        // color: $gray-color;
        // color: #8F979F;
        color: #5a636e;
        line-height: em(21px, $base-font-size);
        font-size: em(13.4px, $base-font-size);
    }
    .file_size {
        float: left;
        width: flex(300px, 450px);
        margin-top: em(3px, $base-font-size);
        font-weight: 500;
    }
    .ico_download {
        cursor: pointer;

        @media (max-width: 768px) {
            margin-top: 5px;
        }
    }
}