.brand_news_textarea {
	font-size: em($base-font-size);
	line-height: em($base-font-size + $default_increase-line-height);
	padding: em(15px, $base-font-size) flex(15px, $base-width-content);
	width: 100%;
	height: em(115px, $base-font-size);
	border-top: 1px solid #cbcccd;
	border-left: 1px solid #b7b8ba;
	border-bottom: 1px solid #c4c5c6;
	border-right: 1px solid #9d9fa1;
}

textarea {
	width: 100%;
	height: em(142.5px, $base-font-size);
	padding: em(12px) em(10px);
	margin-top: em(20px, $base-font-size);
	font-size: em($base-font-size);
	// font-family: 'Brandon Grotesque';
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	color: #909294;
	@include input-placeholder {
	    color: #909294;
	}
	&.error_validation {
		border-color:#b70e12;
	}
	&.textarea_hidden {
		visibility: hidden;
		height: 0px;
		margin: 0;
		padding: 0;
		border-width: 0;
	}
}

label {
	&.checkbox {
		font-size: em(13px);
		@extend .font-pragmatica-regular;
		color: #909294;
	}
}

.channel {
	@extend .base_title;
	.name_channels {
		font-size: em(12px);
		color: #7e8890;
		text-transform: uppercase;
	}
}