$dropdown_btn-width: 194px;
$dropdown-width: 391px;
$navigation_dropdown_list_news-font-size: 11px;

.header {
	height: em(65px, $base-font-size);
	line-height: em(65px, $base-font-size);
	background-color: #0f3e6e; 
}

.navbar-logo {
	cursor: pointer;
}

.menu_navigate {
	margin: 0 flex(208px, $base-width-content) 0 flex(120px, $base-width-content);
	cursor: pointer;
	a {
		display: inline-block;
		// font-family: 'brandon_grotesquebold';
		font-family: pragmatica,Helvetica,Arial,sans-serif;
		font-weight: 300;
		font-size: em($base-font-size, $base-font-size);
		color: $white-color;
		text-decoration: none;
		text-transform: uppercase;
		margin-left: flex(40px, $base-width-content);

		@media (max-width: 768px) {
            font-size: 0.69em
        }

		&:hover {
			color: rgba(255,255,255, .3);
		}
		&.active {
			color: $white-color;
		}
	}
}

.navigation_dropdown {
	position: relative;
	min-width: flex($dropdown_btn-width, $base-width-content-one);
	height: em(65px, $base-font-size);
	color: $white-color;
	background-color: #7e8890;
	border: none;
	padding: 0px flex(39px, $base-width-content);
	cursor: pointer;
	&.active {
		background-color: $white-color;
		color: #778890;
		.caret {
			// border-top: none;
			// border-bottom: 4px dashed #778890;
			background-position: -40px -200px;
		}
		.navigation_dropdown_block {
			display: block;
			// height: em(396px);
			// padding: 0 0 em(35px) 0;
		}
		.navigation_dropdown_text {
			&.navigation_ico-big {
				&:before {
					background-position: 0 -200px;
					top: em(-3px, $base-font-size);
				}
			}
		}
	}
	&:hover {
		background-color: #bec3c7;
	}

	// @media (max-width: 768px) {
	// 	width: 28%;
	// }
}

.navigation_dropdown_text {
	// font-family: 'brandon_grotesquebold';
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: em($base-font-size, $base-font-size);
	text-transform: uppercase;
	position: relative;
	&.navigation_ico-big {
		&:before {
			background-position: 0 -80px;
			top: em(-2px, $base-font-size);
		}
	}
	&:before {
		content: '';
		display: inline-block;
		width: 19px;
		height: 20px;
		background: url(../i/sprite.png) 0px 0px no-repeat;
		position: absolute;
		top: -6px;
		left: -25px;
	}
	.caret {
		border: none;
		background-position: -40px 0px;
		width: 10px;
		height: 6px;
		position: absolute;
		top: 6px;
		right: -23px;
	}
}

.nav img {
	display: inline-block;
	vertical-align: middle;
	margin: 2px 0 0 0;
}

.navigation_dropdown_block {
	opacity: 0;
	overflow: hidden;
	height: 0;
	background-color: #f8faf9;
	position: absolute;
	top: em(65px);
	right: 0;
	// width: flex($dropdown-width, $dropdown_btn-width);
	width: 26.09em;
	// padding: 0 0 em(35px) 0;

	border: 1px solid #eeefee;
	border-top: none;
	cursor: default;
	z-index: 10;
}

.navigation_dropdown_list {
	position: relative;
	left: flex(-30px, $dropdown-width);
	overflow: hidden;
	padding: 0 em(35px);
	> li {
		float: left;
		margin-left: flex(30px, $dropdown-width);
		a {
			font-size: em(12px);
			color: #cdd1d3;
			text-decoration: none;
			text-transform: uppercase;
		}
		&.active {
			a {
				color: $gray-color;
			}
		}
	}
}

.navigation_dropdown_img_wrap {
	display: inline-block;
	vertical-align: middle;
}

.navigation_dropdown_list_news {
	padding: em(20px) em(30px) em(35px);
	border-top: 1px solid #eeefee;
	> li {
		// overflow: hidden;
		line-height: 1;
		margin-top: em(30px);
		a {
			display: block;
			text-decoration: none;
		}
		.navigation_dropdown_text_wrap {
			display: inline-block;
			width: flex(265px, $dropdown-width - 30px * 2);
			margin-left: flex(13px, $dropdown-width - 30px * 2);
			color: $gray-color;
			line-height: 1;
			font-size: em($navigation_dropdown_list_news-font-size);
			vertical-align: middle;
		}
		.img_circle {
			height: em(46px);
			width: flex(46px, $dropdown-width - 30px * 2);
		}
		&:first-child {
			margin-top: 0;
		}
	}
}

.navigation_dropdown_list_news_title {
	font-size: em(12px, $navigation_dropdown_list_news-font-size);
	font-weight: 600;
	&.navigation_dropdown_approved {
		color: #22c866;
	}
	&.navigation_dropdown_declined {
		color: #d76969;
	}
	.navigation_dropdown_list_news_date {
		font-size: em(9px, 12px);
		color: $gray-color;
		font-weight: normal;
	}
}

.navigation_dropdown_list_news_text {
	line-height: em(13px, $navigation_dropdown_list_news-font-size);
	margin-top: em(5px, $navigation_dropdown_list_news-font-size);
}
