.img_circle {
	position: relative;
	width: 46px;
	height: em(46px);
	overflow: hidden;
	cursor: pointer;
	@include border-radius(100%);
	img {
		position: absolute;
		// top: -255px;
		// left: -351px;
		z-index: 1;
		&.img_circle_v {
			top: -255px;
			left: -351px;
		}
		&.img_circle_side_pack {
			top: -294px;
			left: -1225px;
		}
		&.img_activaities_changes {
			top: -255px;
			left: -1291px;
		}
		&.img_activaities_default {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.img_circle-default_text {
		display: none;
		font-size: em($base-font-size);
		color: $white-color;
		text-transform: uppercase;
	}
	&.img_circle-default {
		background: #cecfd0;
		line-height: em(46px);
		text-align: center;
		img {
			display: none;
		}
		.img_circle-default_text {
		    display: inline-block;
		    padding-top: 0;
		}
	}
	&:hover {
		border-color: #42CE7F;
		.ico_search{
	        @include opacity(1);
	    }
	}
	.ico_search {
        position: absolute;
        top: em(23px, $base-font-size);
        left: flex(24px, 73px);
        @include opacity(0);
        z-index: 2;

		@include transition-property(opacity);
		@include transition-duration(0.3s);
		@include transition-timing-function(ease-out);

        @media (max-width: 768px) {
            top: 1.3em;
            left: 32.24658%;
        }
    }
}

.manage_img_wrapper {
	padding: em(4px) flex(4px, 330px);
	border: 1px solid transparent;
	@include border-radius(100%);
	width: flex(72px, 330px);
	height: em(72px);

	@include transition-property(border-color);
	@include transition-duration(0.3s);
	@include transition-timing-function(ease-out);
	&:hover {
		border-color: #42CE7F;
	}
}

.document {
	li {
		.manage {
			width: 100%;
			height: 100%;
		}
		.description {
			width: flex(240px, 330px);
		}
	}
}

.img_circle_wrap {
	&.circle_block {
		margin-right: flex(15px, $base-width-content);
        padding: em(4px);
        border: 1px solid transparent;
        @include border-radius(100%);
        width: flex(71px, $base-width-content);
        height: em(71px);
        @include transition-property(border-color);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
        .img_circle {
            width: 100%;
            height: 100%;
            @include border-radius(100%);
        }
        &:hover {
            border-color: #42CE7F;
            .ico_search{
                @include opacity(1);
            }
        }
	}
}