.block_img {
    border: 1px solid #cecfd0;
    @include border-radius(4px);
    padding: em(13px, $base-font-size) flex(13px, 296px);
    width: 100%;
    display: block;
    img {
        max-width: 100%;
    }
}