.img_upload_wrap {
    overflow: hidden;
    &__description {
        width: flex(390px, $base-width-content);
        &__title {
            margin-bottom: em(28px, $main_title-font-size);
            // font-family: 'Brandon Grotesque';
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: em($brand_news_title-font-size, $base-font-size);
            line-height: 1;
            color: #4d4d4d;
        }
        textarea {
            width: 100%;
            height: em( 146px, $base-font-size);
            margin-top: em(14px);
        }
        li {
            margin-top: em(43px, $base-font-size);
            p {
                font-family: pragmatica,Helvetica,Arial,sans-serif;
                font-weight: 300;
                font-size: em($base-font-size, $base-font-size);
                line-height: em(21px, $base-font-size);
                color: $gray-color;
                letter-spacing: 1px;
                text-align: justify;
                margin-top: em(13px);
                &.indent-top {
                    margin-top: em(37px);
                }
            }
            &:first-child {
                margin-top: 0;
            }
        }
        .btn {
            margin-top: em(32px, 12px);
            &.btn_small {
                width: flex(147px, 390px);
            }
        }
    }
    &__image-block {
        margin-left: flex(100px, $base-width-content);
    }
}

.img_upload_wrap__image-block {
    margin-top: em(63px);
    width: flex(296px);
    height: em(282px);
}
.block_img {
    border: 1px solid #cecfd0;
    @include border-radius(4px);
    // width: 296px;
    // height: 283px;
    // padding: 13px;
    padding: em(13px, $base-font-size) flex(13px, 296px);
    width: 100%;
    display: block;
    text-align: center;
    img {
        max-height: em(252px);
        max-width: 100%;
        // height: 100%;
    }
}