input {
	color: #909294;
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	&.input {
		margin-top: em(17px, 13px);
		width: 100%;
		height: em(42px, 13px);
		padding: 0 flex(20px, 311px);
		font-size: em(13px);
		border: 1px solid #dedfdf;
		color: #8F9BA3;
		&.indent-top {
			margin-top: 25px;
		}
		@include input-placeholder {
		    color: #8F9BA3;
		}
		&.error, &.error_validation {
			border-color: #b70e12;
		}
		&.complete, &.complete_validation {
			border-color: #00CD6B;
		}
	}
	&.gray {
		color: $gray-color-light;
		@include input-placeholder {
		    color: $gray-color-light;
		}
	}
	&.error_validation {
		border-color: #b70e12;
	}
}

.input_default {
	display: block;
	width: 100%;
	height: em(41px, $input-font-size);
	line-height: em(41px, $input-font-size);
	border: 1px solid #cbcbcb;
	padding: 0 em(15px, $input-font-size);
	font-size: em($input-font-size);
	&.error_validation {
		border-color: #b70e12;
	}
}

