@import "compass/css3";
$main_menu_item-width: 314px;
$main_menu_item-width-hover: 367px;
.main_menu_wrap {
	text-align: center;
	margin-top: em(95px, $base-font-size);
	&.main_menu-indent {
		margin-top: em(53px);
	}
}
.main_menu {
	text-align: center;
	margin-left: flex(-25px, $base-width-content);
	position: relative;
	left: -11px;
	top: -11px;
	> li {
		display: inline-block;
		// width: flex(161px, $base-width-content);
		width: em(168px, $base-font-size);
		height: em(168px, $base-font-size);
		vertical-align: top;
		text-align: center;
		// font-family: 'brandon_grotesquebold';
		font-family: pragmatica,Helvetica,Arial,sans-serif;
		font-weight: 300;
		font-size: em($base-font-size, $base-font-size);
		line-height: em(168px, $base-font-size);
		color: #323a45;
		text-transform: uppercase;
		margin: em(12px, $base-font-size) 0 0 em(7px, $base-font-size);
		margin: 11px 0 0 11px;
		cursor: pointer;
		span {
			display: inline-block;
			vertical-align: middle;
			line-height: em(20px, $base-font-size);
			font-weight: 600;
		}
		.main_menu_item {
			width: 100%;
			height: 100%;
			background-color: #d5d5d5;
			padding: 0 em(15px, $base-font-size);
			// padding: 0 flex(10px, $base-width-content) 0 0;

			
			@include transition-property(width, height, background-color, padding, margin, color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-out);
			img {
				vertical-align: middle;
				display: inline-block;
			}
			img + img {
				display: none;
			}
		}
		&:hover {
			.main_menu_item {
				width: 113.8%;
				height: 113.8%;
				line-height: em(180px, $base-font-size);
				color: $white-color;
				background-color: #0f3e6e;
				margin: -6.9%;
				padding: 0 em(30px, $base-font-size);
				z-index: 1;
				position: relative;
				img {
					display: none;
				}
				img + img {
					display: inline-block;
				}
			}
		}
	}
	&.main_menu_big {
		text-align: left;
		left: em(45px, $base-font-size);
		margin-top: em(80px, $base-font-size);

		@media (max-width: 768px) {
			left: 1.4em;
		}

		> li {
			width: flex(304px, $base-width-content);
			height: em(314px, $base-font-size);
			// line-height: em(314px, $main_menu-font-size);
			line-height: 1;
			margin: em(22px, $base-font-size) 0 0 flex(22px, $base-width-content);
			@media (max-width: 768px) {
				width: 17.93333em;
				height: 17.93333em;
				margin: 1.46667em 0 0 1.98103%;
			}
			.main_menu_item {
				position: relative;
				background: none;
				padding: 0;
				-webkit-box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.68);
				-moz-box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.68);
				box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.68);
			
				@include transition-property(background, width, height, margin-top, margin, padding);
				@include transition-duration(0.3s);
				@include transition-timing-function(ease-out);
				img {
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					width: 100%;
					height: 100%;
				}
				.main_menu_item-bg {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					// background-color: rgba(37,50,60,0.4);
					background-color: #0f3e6e;
					@include opacity(0);
			
					@include transition-property(opacity);
					@include transition-duration(0.3s);
					@include transition-timing-function(ease-out);
				}
				.main_menu_text_wrap {
					position: relative;
					z-index: 5;
					padding: em(20px, $base-font-size) flex(25px, $main_menu_item-width);
					color: $white-color;
					text-align: left;
			
					@include transition-property(padding);
					@include transition-duration(0.3s);
					@include transition-timing-function(ease-out);
					.star_wrap {
						// font-family: 'Open Sans', sans-serif;
						// font-weight: 400;
						font-family: pragmatica,Helvetica,Arial,sans-serif;
						font-weight: 300;
						font-size: 13px;
						line-height: 1;
						.glyphicon {
							&.glyphicon-star {
								color: #f4cd24;
								margin-right: 4px;
							}
						}
					}
					.main_menu_title {
						margin-top: em($main_menu_title-font-size, $main_menu_title-font-size);
						width: 68%;
						font-size: em($main_menu-font-size, $base-font-size);
						line-height: em(27px, $main_menu-font-size);
						max-height: em(60px, $main_menu-font-size);
						// overflow: hidden;

						@media (max-width: 768px) {
	                        width: 100%;
	                    }
					}
					.main_menu_text {
						margin-top: em(20px, $base-font-size);
						text-transform: none;
						line-height: em(21px, $base-font-size);
					}
					.main_menu_status_product {
						margin-top: em(53px, $base-font-size);
					}
				}
				.main_menu_view {
					display: none;
					width: 100%;
					line-height: em(76px, $base-font-size);
					position: absolute;
					bottom: 0;
					left: 0;
					vertical-align: middle;
					text-align: center;
					background-color: rgba(0,0,0,.52);
					color: $white-color;
					z-index: 20;
				}
				.ico_status_big_wrap {
					// width: flex(30px, $main_menu_item-width);
					position: absolute;
					top: em(-15px, $base-font-size);
					left: flex(-15px, $main_menu_item-width);
					z-index: 10;
					.ico_status_big {
						position: absolute;
						top: 50%;
						left: 50%;
						margin: em(-13px) 0 0 em(-13px);
					}
				}
			}
			&:hover {
				.main_menu_item {
					margin-top:  em(-31px, $base-font-size);
					width: 116.6%;
					height: 116.7%;
					// line-height: em(358px, $main_menu-font-size);
					line-height: 1;
					z-index: 15;
					img {
						display: block;
					}
					.main_menu_item-bg {
						@include opacity(0.8);
					}
					.ico_status_big_wrap {
						// width: flex(37px, $main_menu_item-width-hover);
						width: em(37px, $base-font-size);
						height: em(37px, $base-font-size);
						border-width: 7px;
						top: em(-19px, $base-font-size);
						left: flex(-19px, $main_menu_item-width-hover);
						.ico_status_big {
							width: em(30px, $base-font-size);
							height: em(30px, $base-font-size);
							margin: em(-14px) 0 0 em(-14px);
						}
					}
					.main_menu_text_wrap {
						padding: em(20px, $base-font-size) flex(65px, $main_menu_item-width-hover) em(20px, $base-font-size) flex(36px, $main_menu_item-width-hover);
						.main_menu_status_product {
							margin-top: em(38px, $base-font-size);
						}
					}
					.main_menu_view {
						display: block;
					}
				}
			}
			&:nth-child(2n+1) {
				margin-right: -1px;
			}
		}
	}
}
.main_menu_status_product {
	overflow: hidden;
	margin-top: em(53px, $base-font-size);
	li {
		float: left;
		margin-left: flex(11px, $main_menu_item-width - 50px);
		&:first-child {
			margin-left: 0;
		}
	}
}
