#popup_block {
	z-index: -1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	#popup_fone {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		// background: $white-color;
		@include transparent;
	}
	.popup_window {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #f8faf9;
		width: em(740px);
		padding: em(34px) em(33px) em(26px) em(38px);
		overflow-y: auto;

		@media (max-width: 768px) {
            width: em(600px);
        }

		&.popup_acces_managment {
			margin: $popup_acces_managment-height/-2 0 0 $popup_acces_managment-width/-2;

			@media (max-width: 768px) {
	            margin: -270px 0 0 -300px;
	        }
		}

		&.output_block {
			&.output_small {
				width: 246px;
				height: 63px;
			}
			&.output_info {
				background-color: #8cd1f5;
			}
			&.output_warning {
				background-color: #d7c669;
			}
			&.output_succes {
				background-color: #2ecc71;
			}
			&.output_error {
				background-color: #b70e12;
			}
		}
	}
	&.popup_active {
		z-index: 1100;
		display: block;
		#popup_fone {
			@include opaque;
		}
	}
}