$select-base-font-size: 12px;
$selection-single-font-size: 19px;
$select-base-width: 100%;
$select_multiple_default-width: 289px;
.select_wrap {
	&.select_long {
		margin-top: em(115px, $base-font-size);
		.select2-container {
			width: 100% !important;
			text-align: left;
			&.select2-container--default {
				.select2-selection--single {
					border-color: #929191;
					@include border-radius(0px);
					.select2-selection__rendered {
						line-height: em(59px, $base-font-size);
					}
					.select2-selection__arrow {
						height: em(59px, $base-font-size);
						width: flex(51px, $base-width-content);
						border-left: 2px solid #929191;
						b {
							border-width: 7px 7px 0 7px;
							margin: -3px 0 0 -7px;
						}
					}
				}
				&.select2-container--open {
					.select2-selection--single {
						.select2-selection__arrow {
							b {
								border-width: 0px 7px 7px 7px;
								border-color: transparent transparent #888 transparent;
							}
						}
					}
				}
			}
			.select2-selection--single {
				height: em(59px, $base-font-size);
				color: #323a45;
				font-size: em($base-font-size, $base-font-size);
				.select2-selection__rendered {
					padding: 0 flex(50px, $base-width-content) 0 flex(40px, $base-width-content);
				}
			}
		}
	}
	&.select_default {
		.select2-container {
			&.select2-container--default {
				.select2-selection--single {
					background-color: transparent;
					.select2-selection__rendered {
						line-height: em(42px, $base-font-size);
					}
					.select2-selection__arrow {
						border-left: none;
						height: em(41px, $base-font-size);
					}
				}
			}
			.select2-selection--single {
				height: em(41px, $base-font-size);
			}
		}
		&.select_multiple_default {
			width: flex($select_multiple_default-width, $base-width-content/2);
			.select2-container {
				.select2-selection--multiple {
					min-height: em(40px, $base-font-size);
					@include border-radius(0px);
				}
				.select2-search--inline {
					min-height: em(40px, $base-font-size);
					line-height: em(40px, $base-font-size);
				}
			}
			.select2-container--default {
				.select2-selection--multiple {
					.select2-selection__choice {
						background: none;
						border: none;
						overflow: hidden;
						color: $gray-color;
						margin: 0;
						min-height: em(40px, $base-font-size);
						line-height: em(40px, $base-font-size);
					}
					.select2-selection__choice__remove {
						float: right;
						margin: 0 0 0 em(5px, $base-font-size);
						color: $gray-color;
					}
					.select2-selection__rendered{
						padding: 0 flex(15px, $select_multiple_default-width) 0 flex(20px, $select_multiple_default-width);
						margin-bottom: -0.1em;
					}
				}
			}
			&.select_multiple_search {
				.select2-container {
					&:before {
						content: '';
						border-style: solid;
						border-width: 4px 4px 0 4px;
						border-color: #4d4d4d transparent transparent transparent;
						position: absolute;
						right: flex(10px, $select_multiple_default-width);
						top: 50%;
						margin-top: -2px;
						&:hover {
							border-top-color: #a6a6a6;
						}
					}
					&.select2-container--open {
						&:before {
							border-width: 0px 4px 4px 4px;
							border-color: transparent transparent #a6a6a6 transparent;
						}
					}
				}
			}
		}
	}
	&.select_mini {
		.select2-container {
			&.select2-container--default {
				.select2-selection--single {
					.select2-selection__arrow {
						width: flex(70px, 289px);
						b {
							border-width: 4px 4px 0 4px;
							border-color: #4d4d4d transparent transparent transparent;
							margin: -2px 0 0 flex(20px, 70px);
						}
					}
				}
				&.select2-container--open {
					.select2-selection--single {
						.select2-selection__arrow {
							b {
								border-width: 0px 4px 4px 4px;
								border-color: transparent transparent #4d4d4d transparent;
							}
						}
					}
				}
			}
			.select2-selection--single {
				.select2-selection__rendered {
					text-transform: none;
				}
			} 
		}
	}

	.select2-container {
		overflow: hidden;
		width: $select-base-width !important;
		font-family: 'Brandon Grotesque';
		
		&.select2-container--default {
			.select2-selection--single {
				border-color: #929191;
				@include border-radius(0px);
				.select2-selection__rendered {
					line-height: em(78px, $base-font-size);
				}
				.select2-selection__arrow {
					height: em(78px, $base-font-size);
					width: flex(70px, $select-base-width);
					border-left: 1px solid #929191;
					&:hover {
						b {
							border-top-color: #a6a6a6;
						}
					}
					b {
						border-width: 7px 7px 0 7px;
						border-color: #4d4d4d transparent transparent transparent;
						margin: -3px 0 0 -7px;
					}
				}
				.select2-selection__placeholder {
					color: $gray-color;
				}
			}
			&.select2-container--open {
				.select2-selection--single {
					.select2-selection__arrow {
						b {
							border-width: 0px 7px 7px 7px;
							border-color: transparent transparent #4d4d4d transparent;
						}
					}
				}
			}
		}
		.select2-selection--single {
			height: em(78px, $base-font-size);
			color: #323a45;
			font-family: 'Brandon Grotesque';
			font-size: em($base-font-size, $base-font-size);
			.select2-selection__rendered {
				padding: 0 flex(70px, $select-base-width) 0 flex(20px, $select-base-width);
				text-transform: uppercase;
			}
		}
	}
}
.select2-results__option {
	padding: em(13px, $base-font-size) em(40px, $base-font-size);
	.select2-results__option--highlighted {
		background: #7e8890;

	}
}

.select2-container--default {
	.select2-selection--multiple {
		background-color: transparent;
	}
	&.select2-container--below {
		&.select2-container--open {
			background-color: $white-color;
		}
	}
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #7e8890;
	color: $white-color;
}

.select2-dropdown {
	z-index: 1101;
}
