$status_wrap-width: 300px;
.status_wrap_center {
	position: relative;
}
.status_wrap {
	position: absolute;
	top: em(-113px, $base-font-size);
	right: 0;
	background: $white-color;
	width: flex($status_wrap-width, $base-width-content);
	@include border-radius(30px);
	.btn_big_rounded {
		width: 100%;
		height: em(44px, $btn-font-size);
		line-height: em(44px, $btn-font-size);
		// text-transform: none;
		.ico_calendar {
			margin: 0 0 0 flex(20px, $status_wrap-width);
			height: 13px;
			vertical-align: -1px;
		}
		.ico_status {
			vertical-align: -2px;
		}
		.ico_status_text {
			text-transform: uppercase;
			font-weight: 500;
		}
	}
}