.element_header {
	.wrap {
		background-color: #f8faf9;
		position: relative;
	}
	.element_img {
		display: block;
		width: 100%;
	}
	.elem_logo_big {
		display: block;
		margin: 0 auto;
		padding-top: em(110px, $base-font-size);
	}
	&.edit_brand {
		height: em(290px, $base-font-size);
		// padding-top: em(110px, $base-font-size);
	}
	.btn {
		position: absolute;
		bottom: em(39px, $base-font-size);
		left: 50%;
		// width: flex(147px, $base-width);
		width: 9.8em;
		margin-left: flex(-147px / 2, $base-width);
	}
}
.menu_wrap {
	margin-top: em(28px, $base-font-size);
}
.menu_scroll_wrap {
	&.scrollWrap {
		position: fixed;
		top: 0;
		z-index: 1000;
		overflow: initial;
		width: 10000px;
		height: em(45px);
		margin-left: -5000px;
		border: solid #cecfd0;
		border-width: 0px 0px 1px 0px;
		background: rgba(255, 255, 255, 0.9);
	}
}
.menu {
	overflow: hidden;
	position: relative;
	// &.scroll {
	// 	position: fixed;
	// 	top: em(15px, $base-font-size);
	// 	z-index: 1000;
	// 	overflow: initial;
	// 	&:before {
	// 		content: '';
	// 		display: block;
	// 		width: 10000px;
	// 		height: 3em;
	// 		position: absolute;
	// 		top: -1em;
	// 		left: -5000px;
	// 		border: solid #cecfd0;
	// 		border-width: 0px 0px 1px 0px;
	// 		background: rgba(255, 255, 255, 0.9);
	// 		z-index: -1;
	// 	}
	// }
	&.scroll {
		display: inline-block;
		margin: 0 auto;
		top: 1em;
		left: 50%;
		
	}
	.toolbox_wrap & {
		max-width: flex(560px, $base-width-content);
	}
	li {
		float: left;
		// padding-left: 15px;
		// background: url(/i/sprite.png) -40px 0 no-repeat;
		a {
			text-transform: uppercase;
			// font-family: 'brandon_grotesquemedium';
			font-family: pragmatica,Helvetica,Arial,sans-serif;
			font-weight: 300;
			color: #c3c3c3;
			text-decoration: none;
		}
		&.active {
			a {
				// font-family: 'brandon_grotesquebold';
				font-family: pragmatica,Helvetica,Arial,sans-serif;
				font-weight: 300;
				// color: #909294;
				color: $gray-color;
			}
		}
		&:after {
			content: '';
			display: inline-block;
			width: 11px;
			height: 12px;
			background: url(/i/sprite.png) 6px -40px no-repeat;
			vertical-align: -1px;
			margin: 0 em(5px) 0 em(-6px);
		}
		&:last-child {
			&:after {
				display: none;
				background: none;
			}
		}
	}
}
.go_to_search {
	font-size: em($base-font-size, $base-font-size);
	// font-family: 'Open Sans', sans-serif;
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	// color: #909294;
	color: $gray-color;
	cursor: pointer;
	span {
		display: inline-block;
		// border-bottom: 1px solid #909294;
		border-bottom: 1px solid $gray-color;
	}
	&:after {
		content: '';
		display: inline-block;
		border: 1px solid;
		border-color: #888 transparent transparent transparent;
		border-width: 5px 5px 0 5px;
		margin-left: 5px;
	}
}