$th_base-width: flex($base-width-content/5, $base-width-content);
$table_td-font-size: 11px; 

.approval_flow_wrap {
	.main_title {
		font-size: $main_title-font-size;
		font-weight: 600;
	}
	.main_title_approval {
		margin-top: em(65px, $main_title-font-size);
	}

	&.email-notification {
		.wrap_table {
			&.table-header {
				& > div {
					&:nth-child(odd) {
						background: none;
					}
					&.odd {
						background: none;
					}
				}

				.approval_table {
					&.table_log {
						width: flex(750px, $base-width-content-one);
						margin: 0;
						padding: 0;
						td {
							font-size: em(12px);
							width: 12%;
							text-align: left;
							// color: $gray-color;
							&+td {
								width: 10%;
								&+td {
									width: 51%;
								}
							}
						}
					}
				}
			}
		}

		.approval_table {
			&.table_log {
				width: flex(750px, $base-width-content-one);
				margin: 0;
				padding: 0;
				td {
					font-size: em(11px);
					width: 14%;
					text-align: left;
					// color: $gray-color;
					&+td {
						width: 12%;
						&+td {
							width: 51%;
							&+td {
								width: 9%;
							}
						}
					}
				}
			}
		}
	}
	.approval_table {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		td {
			// color: $gray-color-old;
			// color: #A0A0A0;
			color: #707171;
			width: 16%;
			padding: 0 em(5px);
			font-family: pragmatica,Helvetica,Arial,sans-serif;
			font-weight: 300;
			// @extend .base_title;
			font-size: em($table_td-font-size);
			line-height: em($table_td-font-size + $default_increase-line-height, $table_td-font-size);
			&+td {
				width: 18%;
				&+td {
					width: 19%;
					&+td {
						width: 25%;
						&+td {
							width: 22%;
						}
					}
				}
			}
		}
		.wrap_comments_table {
			.user_name{
				color: $gray-color;
			}
			.comment_table {
				margin-bottom: em(10px);
				// padding: 0 em(5px);
				line-height: em($table_td-font-size + $default_increase-line-height, $table_td-font-size);

			}
		}
		&.table_log {
			width: flex(750px, $base-width-content-one);
			margin: 0;
			padding: 0;
			td {
				font-size: em($table_td-font-size);
				width: 15%;
				text-align: left;
				// color: $gray-color;
				&+td {
					width: 19%;
					&+td {
						width: 13%;
						&+td {
							width: 20%;
							&+td {
								width: 18%;
								&+td {
									width: 14%;
								}
							}
						}
					}
				}
			}
		}
	}
	.title_table {
		width: 100%;
		// background-color: #f8faf9;
		padding: em(25px) 0 em(6px);
		margin-top: em(45px);
		table {
			max-width: 960px;
			margin: 0 auto 0;
			width: 100%;
			&.table_log {
				width: flex(750px, $base-width-content-one);
				margin: 0;
				th {
					font-size: em(15px);
					line-height: em(15px + $default_increase-line-height);
					color: #5f676f;
					width: 15%;
					text-align: left;
					&+th {
						width: 19%;
						&+th {
							width: 13%;
							&+th {
								width: 20%;
								&+th {
									width: 18%;
									&+th {
										width: 14%;
									}
								}
							}
						}
					}
				}
			}
		}
		th {
			// font-family: pragmatica,Helvetica,Arial,sans-serif;
			@extend .base_title;
			font-size: em(12px);
			text-align: left;
			text-transform: uppercase;
			// color: $gray-color;
			color: #849199;
			width: 16%;
			padding: 0 em(5px);
			&+th {
				width: 18%;
				&+th {
					width: 19%;
					&+th {
						width: 25%;
						&+th {
							width: 22%;
						}
					}
				}
			}
		}
	}
}

.wrap_table {
	& > div {
		// padding: em(15px) 0;
		&:nth-child(odd){
			background-color: #f8faf9;
			.title_table {
				background-color: #f8faf9;
			}
		}
		&.odd {
			background-color: #f8faf9;
			.title_table {
				background-color: #f8faf9;
			}
		}
		&.indent-bottom {
			margin-bottom: em(100px);
		}
	}
}

.button_table {
	.btn {
		&.btn_rounded {
			width: flex(72px, $base-width-content-one*0.22);
			height: em(28px, $small_btn-font-size);
			font-size: em($small_btn-font-size);
		}
	}
}

.table_text_bold {
	font-weight: 600;
	color: #849199;
}

.access-management-block {
	.access-management-item {
		margin-top: em(58px);
		&:first-child {
			margin-top: 0;
		}
	}
}