.base_title {
	// font-family: pragmatica,Helvetica,Arial,sans-serif;
	// font-weight: 700;
	font-family: 'Brandon Grotesque';
	font-weight: 600;
}

.font-pragmatica-regular {
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
}

.main_title {
	// font-family: 'brandon_grotesquebold';
	@extend .base_title;
	font-size: em($main_title-font-size, $base-font-size);
	line-height: 1;
	color: #323a45;
	text-transform: uppercase;
	margin: 0 0 0 2px;
	font-weight: 600;
	&.main_title_actives {
		font-size: em($main_title-font-size, $base-font-size);
		width: flex(400px, $base-width-content);
		margin-top: em(60px, $main_title-font-size);

		@media (max-width: 768px) {
			width: 100%;
		}
	}
	&.main_title-indent {
		margin-top: em(65px);
	}
}

.brand_news_title {
	// font-family: 'proxima_novalight';
	font-family: 'Brandon Grotesque';
	font-weight: 300;
	// font-family: pragmatica,Helvetica,Arial,sans-serif;
	// font-weight: 300;
	font-size: em($brand_news_title-font-size, $base-font-size);
	line-height: 1;
	// color: #323a45;
	// color: $base-color;
	color: #2c3138;
}

.main_menu_title {
	// font-family: 'brandon_grotesquebold';
	@extend .base_title;
	font-size: em($main_menu_title-font-size, $main_menu-font-size);
	line-height: em(24px, $main_menu_title-font-size);
	text-transform: uppercase;
	color: $white-color;
}

.toolbox_edit_title {
	@extend .base_title;
	color: $base-color;
	font-size: em($main_title-font-size, $base-font-size);
	line-height: em(30px, $main_title-font-size);
	text-transform: uppercase;
}

.small_title {
	@extend .base_title;
	color: $base-color;
	font-size: em($small_title-font-size, $base-font-size);
	line-height: 1;
	text-transform: uppercase;
}

.no_reult_title {
	@extend .base_title;
	color: #c4c4c4;
	font-size: em(45px, $base-font-size);
	line-height: em(52px, 45px);
	text-transform: uppercase;
	width: flex(280px, $base-width-content);
	text-align: center;
	margin: em(80px, 45px) auto em(120px, 45px);
}

.popup_title {
	font-size: em(27px);
	@extend .base_title;
	color: $base-color;
}

.profile_title {
	font-size: em(12px);
	@extend .base_title;
	// color: $base-color;
	color: #909294;
	text-transform: uppercase;
}