.base_title {
	// font-family: pragmatica,Helvetica,Arial,sans-serif;
	// font-weight: 700;
	font-family: 'Brandon Grotesque';
	font-weight: 600;
}

.font-pragmatica-regular {
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
}

.main_title {
	// font-family: 'brandon_grotesquebold';
	@extend .base_title;
	font-size: em($main_title-font-size, $base-font-size);
	line-height: 1;
	color: #323a45;
	text-transform: uppercase;
	margin: 1em 0 0 0;
	font-weight: 600;
	&.main_title_actives {
	    font-size: 1.8em;
	    width: 100%;
	    margin-top: 1.5em;
		@media (max-width: 768px) {
			width: 100%;
		}

	}
	&.main_title_department-indent {
		margin-top: em(50px, $main_title-font-size);
	}
	&.main_title-indent {
		margin-top: em(65px);
	}
}

.brand_news_title {
	font-family: 'Brandon Grotesque';
	font-weight: 300;
	font-size: em($brand_news_title-font-size, $base-font-size);
	line-height: 1;
	color: #4d4d4d;
}

.main_menu_title {
	@extend .base_title;
	font-size: em($main_menu_title-font-size, $main_menu-font-size);
	line-height: em(24px, $main_menu_title-font-size);
	text-transform: uppercase;
	color: $white-color;
}

.toolbox_edit_title {
	@extend .base_title;
	color: $base-color;
	font-size: em($main_title-font-size, $base-font-size);
	line-height: em(30px, $main_title-font-size);
	text-transform: uppercase;
}

.small_title {
	@extend .base_title;
	// color: $base-color;
	color: #707070;
	font-size: em($small_title-font-size, $base-font-size);
	line-height: 1;
	text-transform: uppercase;
}

.no_result_title {
	@extend .base_title;
	color: #c4c4c4;
	font-size: em(45px, $base-font-size);
	line-height: em(52px, 45px);
	text-transform: uppercase;
	width: flex(280px, $base-width-content);
	text-align: center;
	margin: em(80px, 45px) auto em(120px, 45px);
	margin-top: 1em;
}

.popup_title {
	font-size: em(27px);
	@extend .base_title;
	color: $base-color;
}

.profile_title {
	font-size: em(12px);
	@extend .base_title;
	color: #909294;
	text-transform: uppercase;
	&.indent-top {
		margin-top: em(20px, 12px);
	}
	&.authorization {
		color: #7e8890;
	}
}

.title_os {
	font-family: 'Open Sans', sans-serif;
	font-size: 27px;
	line-height: 34px;
	text-transform: none;
	font-weight: 300;
}