.main_title {
	// font-family: 'brandon_grotesquebold';
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: em($main_title-font-size, $base-font-size);
	line-height: 1;
	color: #323a45;
	text-transform: uppercase;
	margin: 0 0 0 2px;

	&.main_title_actives {
		font-size: em($main_title-font-size, $base-font-size);
		width: flex(400px, $base-width-content);
		margin-top: em(60px, $main_title-font-size);
	}
}

.brand_news_title {
	// font-family: 'proxima_novalight';
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: em($brand_news_title-font-size, $base-font-size);
	line-height: 1;
	// color: #323a45;
	color: $base-color;
}

.main_menu_title {
	// font-family: 'brandon_grotesquebold';
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: em($main_menu_title-font-size, $main_menu-font-size);
	line-height: em(24px, $main_menu_title-font-size);
	text-transform: uppercase;
	color: $white-color;
}

.toolbox_edit_title {
	font-family: pragmatica,Helvetica,Arial,sans-serif;
	font-weight: 300;
	color: $base-color;
	font-size: em($main_title-font-size, $base-font-size);
	line-height: em(30px, $main_title-font-size);
	text-transform: uppercase;
}