@import '../../sass/base/__base';
@import "compass/css3";

.activies_page_wrap {
    .content_wrap, .wrap_block {
        margin-top: em(60px, $base-font-size);
    }
    .status_wrap {
        width: flex(370px, $base-width-content);
        .valid {
            font-weight: 500;
        }
    }
    .block_img {
        border: 1px solid #cecfd0;
        @include border-radius(4px);
        // width: 296px;
        // height: 283px;
        // padding: 13px;
        padding: em(13px, $base-font-size) flex(13px, 296px);
        width: 100%;
        display: block;
        img {
            max-width: 100%;
        }
    }
    .description textarea{
        // width: 388px;
        // height: 126px;
        width: 100%;
        height: em( 146px, $base-font-size);
    }
    .brand_news_toolbax_list  {
        width: flex(296px, $base-width-content);
        height: em(283px, $base-font-size);
        li {
            height: 100%;
            a {
                height: 100%;
                position: relative;
                border-color: #cecfd0;
                background-color: #f8faf9;
                .btn {
                    width: flex(340px, $base-width-content);
                    left: 27.5%;
                    top: 8em;
                    position: absolute;
                }
            }
        }
    }
    .wrap_block {
        .title {
            font-family: pragmatica,Helvetica,Arial,sans-serif;
            font-weight: 300;
            font-size: em($brand_news_title-font-size, $base-font-size);
            line-height: 1;
            color: $base-color;
            margin-bottom: em(28px, $main_title-font-size);
        }
        p.text {
            font-family: pragmatica,Helvetica,Arial,sans-serif;
            font-weight: 300;
            font-size: em($base-font-size, $base-font-size);
            line-height: em(21px, $base-font-size);
            color: $gray-color;
            letter-spacing: 1px;
        }
    }
    .content_wrap {
        .btn:nth-last-child(1) {
            margin-bottom: 1px;
        }
    }
    .attachments_blocks {
        margin-bottom: em(60px, $base-font-size);

        .block {
            // width: flex(450px, $base-width);
            float: left;
            width: 100%;
            margin-top: em(60px, $base-font-size);
            
            .icon {
                width: flex(75px, $base-width-content);
                float: left;
                padding: em(5px, $base-font-size) flex(5px, $base-width-content);
                @include border-radius(100%);
                cursor: pointer;
                border: 1px solid transparent;
                position: relative;
                margin-right: flex(15px);
                &:hover {
                    border-color: #42CE7F
                }
                img {
                    max-width: 100%;
                    margin: 0px auto;
                    display: block;
                }
                .ico_search {
                    position: absolute;
                    top: em(25px, $base-font-size);
                    left: flex(25px, 73px);
                    display: none;

                    @media (max-width: 768px) {
                        top: 1.4em;
                        left: 32.24658%;
                    }
                }
                &:hover .ico_search{
                    display: block;
                }
            }
            .name {
                float: left;
                width: 80%;
                margin-top: em(15px, $base-font-size);
                position: relative;
                a.sprite.sprite_ico.ico_basket {
                    margin: em(-2px, $base-font-size) flex(5px, $base-width-content);
                    position: absolute;
                }
            }
            .checkbox {
                display: inline-block;
                position: relative;
                // padding-left: 1.5em;
                margin-top: em(10px, $base-font-size);
                color: $gray-color;
                label:before {
                    position: absolute;
                    left: 0px;
                    top: -1px;
                }
            }
            textarea {
                width: 100%;
                height: em(142.5px, $base-font-size);
                padding: em(12px, $base-font-size) flex(10px, $base-width-content);
                margin-top: em(20px, $base-font-size);
            }
        }
        .block_options_draft {
            padding: em(60px, $base-font-size) 0;
            border-top: 1px solid #cecfd0;
            // border-bottom: 1px solid #cecfd0;
            margin-top: em(60px, $base-font-size);
            button.btn.btn-default {
                width: flex(200px, $base-width-content);
                overflow: hidden;
            }
            button.btn.btn-default.center {
                margin-left: flex(70px, $base-width-content);
            }
            @media (max-width: 840px) {
                button.btn.btn-default {
                    font-size: 12px;
                }
            }
        }
    }
}
