@import '../../sass/base/__base';

.tutorial_search-page {
	.buttons-wrap {
		.btn_rounded_wrap {
			&.btn_right  {
		        width: flex(283px);
		    }
		}
	}
	.main_menu_wrap {
		margin-top: 92px;
	}
	.main_menu {
		&.main_menu_big {
			display: inline-block;
			width: flex(680px);
			margin: 0 auto;
			> li {
				width: flex(313px, 680px);
				margin-left: flex(22px, 680px);
				&:nth-child(2n+1) {
					margin-right: -5px;
				}
			}
		}
	}
}