@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 5, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .content_wrap, .activies_page_wrap .wrap_block {
  margin-top: 4em;
}
/* line 9, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .block_img {
  border: 1px solid #cecfd0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.86667em 4.39189%;
  width: 100%;
  display: block;
}
/* line 18, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .block_img img {
  max-width: 100%;
}
/* line 22, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .brand_news_toolbax_list {
  width: 40.1084%;
}
/* line 26, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel {
  width: 33.33333%;
  float: left;
}
/* line 30, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel .icon {
  margin: 0px auto;
}
/* line 33, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel .name_channels {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1;
  color: #000;
  text-align: center;
  padding: 1em 0;
}
/* line 44, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel ul li a {
  color: #A9ADB0;
  position: relative;
  margin-left: 36.58537%;
  display: block;
  padding: 0.33333em 0;
  text-decoration: none;
}
/* line 51, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel ul li a:before {
  content: '';
  width: 4px;
  height: 4px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #45484C;
  position: absolute;
  display: block;
  left: -12px;
  top: 12px;
}
/* line 67, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .wrap_block .title {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1;
  color: #000;
  margin-bottom: 1.03704em;
}
/* line 75, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .wrap_block p.text {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
  color: #45484C;
  letter-spacing: 1px;
}
/* line 85, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .content_wrap .btn:nth-last-child(1) {
  margin-bottom: 1px;
}
/* line 89, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks {
  margin-bottom: 4em;
}
/* line 93, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block {
  width: 46.875%;
  float: left;
  margin-top: 4em;
}
/* line 97, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block:nth-child(2n) {
  margin-left: 6.06936%;
}
/* line 100, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon {
  width: 21.11111%;
  float: left;
  padding: 0.33333em 1.66667%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  margin-right: 1.5625%;
}
/* line 109, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon:hover {
  border-color: #42CE7F;
}
/* line 112, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon img {
  max-width: 100%;
  margin: 0px auto;
  display: block;
}
/* line 117, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon .ico_search {
  position: absolute;
  top: 1.66667em;
  left: 34.24658%;
  display: none;
}
@media (max-width: 768px) {
  /* line 117, ../../../dev/pages/activies_page/activies_page.scss */
  .activies_page_wrap .attachments_blocks .block .icon .ico_search {
    top: 1.3em;
    left: 32.24658%;
  }
}
/* line 128, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon:hover .ico_search {
  display: block;
}
/* line 132, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .name {
  float: left;
}
/* line 135, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .text {
  float: left;
  width: 66.66667%;
  margin-top: 0.66667em;
  color: #45484C;
}
/* line 141, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .file_size {
  float: left;
  width: 66.66667%;
}
/* line 145, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .ico_download {
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 145, ../../../dev/pages/activies_page/activies_page.scss */
  .activies_page_wrap .attachments_blocks .block .ico_download {
    margin-top: 5px;
  }
}

/* line 157, ../../../dev/pages/activies_page/activies_page.scss */
.brand_news .btn_wrap {
  bottom: -1.66667em;
}

/* line 164, ../../../dev/pages/activies_page/activies_page.scss */
.btn_big_rounded_wrap .btn.btn_big_rounded {
  line-height: 3.57143em;
}

/* line 172, ../../../dev/pages/activies_page/activies_page.scss */
.wrap_blocks .main_title.main_title_actives {
  margin-top: 4.51852em;
}

/* line 179, ../../../dev/pages/activies_page/activies_page.scss */
.status_wrap .btn_big_rounded {
  text-transform: uppercase;
}
/* line 181, ../../../dev/pages/activies_page/activies_page.scss */
.status_wrap .btn_big_rounded .ico_status {
  margin-left: 6.66667%;
}
/* line 184, ../../../dev/pages/activies_page/activies_page.scss */
.status_wrap .btn_big_rounded .ico_calendar {
  margin: 0 1.66667% 0 13.33333%;
}
