@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 3, ../../../dev/pages/email_notifications/email_notifications.scss */
.email-notification-content {
  margin-top: 4em;
}
/* line 6, ../../../dev/pages/email_notifications/email_notifications.scss */
.email-notification-content h1 {
  font-weight: bold;
  margin: 0;
}

/* line 12, ../../../dev/pages/email_notifications/email_notifications.scss */
.email-notification-table {
  margin-top: 4em;
}

/* line 19, ../../../dev/pages/email_notifications/email_notifications.scss */
.approval_flow_wrap .table-header .approval_table td {
  font-family: 'Brandon Grotesque';
  font-weight: 600;
  color: #7e8890;
}

/* line 27, ../../../dev/pages/email_notifications/email_notifications.scss */
.table-header {
  margin-bottom: 0.33em;
}
/* line 30, ../../../dev/pages/email_notifications/email_notifications.scss */
.table-header .table-unit {
  font-weight: bold;
}

/* line 36, ../../../dev/pages/email_notifications/email_notifications.scss */
.approval_table .btn {
  width: 100%;
  height: 2.45455em;
  font-size: 1em;
}

/* line 43, ../../../dev/pages/email_notifications/email_notifications.scss */
.add-notification {
  position: relative;
  margin-top: 5.333em;
  margin-bottom: 5.333em;
}
/* line 48, ../../../dev/pages/email_notifications/email_notifications.scss */
.add-notification:before {
  content: "";
  position: absolute;
  left: 7.4em;
  right: 7.4em;
  height: 2px;
  background: #ededee;
  top: -2.200em;
}

/* line 63, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 37.200em;
  height: 34.667em;
  padding: 2.000em 2.200em;
  margin-left: -18.600em;
  margin-top: -17.333em;
  background: #ffffff;
  border: 1px solid #ededee;
}
/* line 75, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification > span {
  font-size: 28px;
}
/* line 79, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification input {
  display: block;
  width: 100%;
  height: 3.15385em;
  line-height: 3.15385em;
  border: 1px solid #cbcbcb;
  padding: 0 1.15385em;
  font-size: 0.86667em;
}
/* line 89, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification textarea {
  padding: 1em 2.03252%;
  width: 100%;
  height: 8.76667em;
  border: 1px solid #cbcbcb;
  margin-top: 0;
}
/* line 97, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .subject,
.edit-notification .text {
  margin-top: 2.200em;
  padding: 0 0.267em 0 0.200em;
}
/* line 102, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .subject label,
.edit-notification .text label {
  font-size: 12px;
  margin-bottom: 1.084em;
  display: inline-block;
  color: #77808b;
}
/* line 111, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .text label {
  margin-bottom: 1.334em;
}
/* line 116, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .notes {
  margin-top: 1.067em;
}
/* line 119, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .notes .notes-unit {
  float: left;
  color: #77808b;
  font-size: 11px;
  line-height: 1.546em;
}
/* line 125, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .notes .notes-unit:first-child {
  margin-right: 2.091em;
}
/* line 131, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .control {
  margin-top: 2.467em;
  padding: 0 0.200em;
}
/* line 135, ../../../dev/pages/email_notifications/email_notifications.scss */
.edit-notification .control button {
  width: 24.5%;
}
