@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 3, ../../../dev/pages/toolbox/toolbox.scss */
.toolbox_wrap .main_title {
  font-size: 1.8em;
  width: 54.20054%;
  margin-top: 2.22222em;
}
/* line 8, ../../../dev/pages/toolbox/toolbox.scss */
.toolbox_wrap .content_wrap {
  margin-top: 4em;
}

/* line 13, ../../../dev/pages/toolbox/toolbox.scss */
.content_wrap {
  padding-bottom: 10.13333em;
}

/* line 17, ../../../dev/pages/toolbox/toolbox.scss */
.brand_edit li {
  float: left;
  width: 15.3125%;
  margin-left: 3.64583%;
}
/* line 21, ../../../dev/pages/toolbox/toolbox.scss */
.brand_edit li:first-child {
  margin-left: 0;
}
/* line 25, ../../../dev/pages/toolbox/toolbox.scss */
.brand_edit li .btn.btn_small {
  width: 100%;
}
/* line 31, ../../../dev/pages/toolbox/toolbox.scss */
.brand_edit.btn_wrap {
  position: absolute;
  bottom: -6.33333em;
  overflow: hidden;
}

/* line 38, ../../../dev/pages/toolbox/toolbox.scss */
.brand_news.edit_brand {
  padding: 2.2em 0 3.66667em 0;
}
/* line 42, ../../../dev/pages/toolbox/toolbox.scss */
.brand_news .btn_big_rounded_wrap:first-child {
  width: 20.61995%;
}
/* line 45, ../../../dev/pages/toolbox/toolbox.scss */
.brand_news .btn_big_rounded_wrap.pos_right {
  width: 22.91105%;
}

/* line 50, ../../../dev/pages/toolbox/toolbox.scss */
.brand_news_title {
  font-size: 1.8em;
}

/* line 55, ../../../dev/pages/toolbox/toolbox.scss */
.status_wrap .btn_big_rounded {
  text-transform: uppercase;
}
/* line 57, ../../../dev/pages/toolbox/toolbox.scss */
.status_wrap .btn_big_rounded .ico_status {
  margin-left: 12.66667%;
}
/* line 60, ../../../dev/pages/toolbox/toolbox.scss */
.status_wrap .btn_big_rounded .ico_calendar {
  margin: 0 1.66667% 0 13.33333%;
}
