$base-font-size: 15px;
$base-font-family: Arial, Helvetica, sans-serif;
$base-color: #000;
$white-color: #fff;
$gray-color: #77808b;
$base-width: 960px;
$base-margin: 111px;
$base-width-content: $base-width - $base-margin * 2;
$main_title-font-size: 27px;
$main_menu-font-size: 18px;
$main_menu_title-font-size: 20px;
$brand_news_title-font-size: 24px;