@import '../../sass/base/__base';
@import "compass/css3";
$profile_description-width: 300px;

.profile_btn_wrap {
	margin-top: em(50px);
	padding-top: em(30px);
	border-top: 1px solid #cecfd0;
	.btn {
		&.btn-default {
			width: flex(160px, $base-width-content);
			&.btn-small {
				width: flex(101px, $base-width-content);
			}
		}
	}
}

.profile_wrap {
	margin-top: em(50px);
	.profile_settings {
		width: flex(311px, $base-width-content);
		.select_wrap {
			margin-top: em(17px);
		}
		.profile_roles {
			margin-left: flex(70px);
		}
	}
}

.profile_text {
	margin-top: em(7px, 12px);
	font-size: em(12px);
	// color: $gray-color-old;
	color: $gray-color-light;
}

.profile_title {
	&.profile_title-indent {
		margin-top: em(35px, 12px);
	}
	&.profile_new_title-indent {
		margin-top: em(52px, 12px);
	}
}

.profile_description {
	margin-left: flex(65px, $base-width-content);
	width: flex($profile_description-width, $base-width-content);

	@media (max-width: 768px) {
        width: 43.65041%;
    }
}

.profile_description_list {
	position: relative;
	left: flex(-40px, $profile_description-width);
	overflow: hidden;
	font-size: em(13px);
	margin-top: em(20px, 13px);
	li {
		float: left;
		width: flex(106px, $profile_description-width);
		margin-left: flex(40px, $profile_description-width);
		margin-top: em(22px, 13px);
		// color: #A8AAAC;
		color: #909294;
		input[type="checkbox"] + label::before {
			vertical-align: -4px;
		}
	}
}

.select2-container--default {
	.select2-selection--single {
		.select2-selection__rendered {
			color: #909090;
		}
	}
}

.password_wrap {
	margin-top: em(50px);
	.password {
		width: flex(311px, $base-width-content);
	}
	.password_confirm {
		margin-left: flex(65px, $base-width-content);
		width: flex($profile_description-width, $base-width-content);

		@media (max-width: 768px) {
	        width: 43.65041%;
	    }
	}
}

.select_wrap {
	.select2-container{
		&.select2-container--default {
			.select2-selection--single {
				border-color: #dedfdf;
			}
		}
	}
}

.select2-dropdown {
	border-color: #dedfdf;
	@include border-radius(0);
}

.btn {
	color: #7e8890;
}