@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 5, ../../../dev/pages/activities_search/activities_search.scss */
.content_wrap.activiities_search .select_wrap.select_long {
  margin-top: 1.53333em;
}
/* line 10, ../../../dev/pages/activities_search/activities_search.scss */
.content_wrap.activiities_search .select_wrap.select_long .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
  text-align: center;
}

/* line 22, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list-el_wrap {
  margin-top: 4em;
}
/* line 24, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list-el_wrap:first-child {
  margin-top: 0;
}

/* line 29, ../../../dev/pages/activities_search/activities_search.scss */
input[type="checkbox"]:checked {
  vertical-align: -3px;
  margin-right: 0.66667em;
}

/* line 34, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list {
  display: inline-block;
  width: 50%;
}
/* line 37, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list li {
  margin-top: 2.66667em;
}
/* line 39, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list li:first-child {
  margin-top: 0;
}
/* line 42, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list li.select_wrap_list_indent {
  padding-top: 1.93333em;
}
/* line 45, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list li .select_wrap_list-el {
  width: 50%;
  color: #45484C;
}
/* line 48, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list li .select_wrap_list-el input[type="checkbox"] + label::before {
  vertical-align: -3px;
  margin-right: 0.33333em;
}
/* line 54, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap_list .small_title {
  margin-bottom: 1.07143em;
}

/* line 60, ../../../dev/pages/activities_search/activities_search.scss */
.activies_search_list > li {
  border-top: 1px solid #ededee;
  padding: 2.33333em 0 0;
  margin: 2.93333em 0;
}
/* line 64, ../../../dev/pages/activities_search/activities_search.scss */
.activies_search_list > li:first-child {
  border-top-color: transparent;
}

/* line 74, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 24.22145%;
}
/* line 76, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 4px 4px 0 4px;
  border-color: #4d4d4d transparent transparent transparent;
  margin: -2px 0 0 28.57143%;
}
/* line 86, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap .select2-container.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0px 4px 4px 4px;
  border-color: transparent transparent #4d4d4d transparent;
}
/* line 95, ../../../dev/pages/activities_search/activities_search.scss */
.select_wrap .select2-container .select2-selection--single .select2-selection__rendered {
  text-transform: none;
}

/* line 102, ../../../dev/pages/activities_search/activities_search.scss */
.calendar_wrap {
  width: 78.31978%;
  text-align: right;
}
@media (max-width: 640px) {
  /* line 102, ../../../dev/pages/activities_search/activities_search.scss */
  .calendar_wrap {
    text-align: left;
  }
}

/* line 111, ../../../dev/pages/activities_search/activities_search.scss */
.calendar_input {
  width: 35.29412%;
}
@media (max-width: 768px) {
  /* line 111, ../../../dev/pages/activities_search/activities_search.scss */
  .calendar_input {
    width: 32.93%;
  }
}
/* line 118, ../../../dev/pages/activities_search/activities_search.scss */
.calendar_input.calendar_from {
  margin-left: 3.46021%;
}

/* line 123, ../../../dev/pages/activities_search/activities_search.scss */
.calendar_date-separator {
  margin: 0 1.7301%;
}

/* line 127, ../../../dev/pages/activities_search/activities_search.scss */
.btn_activies_search_wrap {
  margin-top: 3.66667em;
}
/* line 129, ../../../dev/pages/activities_search/activities_search.scss */
.btn_activies_search_wrap .btn-link {
  margin: 1.42857em 0 2.14286em;
}
