@import '../../sass/base/__base';
@import "compass/css3";
.tutorial_page {
    .buttons-wrap {
        margin-bottom: -16px;
    }
    .document {
        li {
            height: 130px;
            .manage {
                margin-bottom: 14px;
            }
        }
    }
}