@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 5, ../../../dev/pages/profile/profile.scss */
.profile_btn_wrap {
  margin-top: 3.33333em;
  padding-top: 2em;
  border-top: 1px solid #cecfd0;
}
/* line 10, ../../../dev/pages/profile/profile.scss */
.profile_btn_wrap .btn.btn-default {
  width: 21.68022%;
}
/* line 12, ../../../dev/pages/profile/profile.scss */
.profile_btn_wrap .btn.btn-default.btn-small {
  width: 13.68564%;
}

/* line 19, ../../../dev/pages/profile/profile.scss */
.profile_wrap {
  margin-top: 3.33333em;
}
/* line 21, ../../../dev/pages/profile/profile.scss */
.profile_wrap .profile_settings {
  width: 42.14092%;
}
/* line 23, ../../../dev/pages/profile/profile.scss */
.profile_wrap .profile_settings .select_wrap {
  margin-top: 1.13333em;
}
/* line 26, ../../../dev/pages/profile/profile.scss */
.profile_wrap .profile_settings .profile_roles {
  margin-left: 7.29167%;
}

/* line 32, ../../../dev/pages/profile/profile.scss */
.profile_text {
  font-family: 'Brandon Grotesque';
  font-weight: 300;
  margin-top: 0.58333em;
  font-size: 0.8em;
  color: #7c7c7c;
}

/* line 42, ../../../dev/pages/profile/profile.scss */
.profile_title.profile_title-indent {
  margin-top: 2.91667em;
}
/* line 45, ../../../dev/pages/profile/profile.scss */
.profile_title.profile_new_title-indent {
  margin-top: 4.33333em;
}

/* line 50, ../../../dev/pages/profile/profile.scss */
.profile_description {
  margin-left: 8.80759%;
  width: 40.65041%;
}
@media (max-width: 768px) {
  /* line 50, ../../../dev/pages/profile/profile.scss */
  .profile_description {
    width: 43.65041%;
  }
}

/* line 59, ../../../dev/pages/profile/profile.scss */
.profile_description_list {
  position: relative;
  left: -13.33333%;
  overflow: hidden;
  font-size: 0.86667em;
  margin-top: 1.53846em;
}
/* line 65, ../../../dev/pages/profile/profile.scss */
.profile_description_list li {
  float: left;
  width: 35.33333%;
  margin-left: 13.33333%;
  margin-top: 1.69231em;
  color: #909294;
}
/* line 72, ../../../dev/pages/profile/profile.scss */
.profile_description_list li input[type="checkbox"] + label::before {
  vertical-align: -4px;
}

/* line 80, ../../../dev/pages/profile/profile.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #909090;
}

/* line 86, ../../../dev/pages/profile/profile.scss */
.password_wrap {
  margin-top: 3.33333em;
}
/* line 88, ../../../dev/pages/profile/profile.scss */
.password_wrap .password {
  width: 42.14092%;
}
/* line 91, ../../../dev/pages/profile/profile.scss */
.password_wrap .password_confirm {
  margin-left: 8.80759%;
  width: 40.65041%;
}
@media (max-width: 768px) {
  /* line 91, ../../../dev/pages/profile/profile.scss */
  .password_wrap .password_confirm {
    width: 43.65041%;
  }
}

/* line 104, ../../../dev/pages/profile/profile.scss */
.select_wrap .select2-container.select2-container--default .select2-selection--single {
  border-color: #dedfdf;
}

/* line 111, ../../../dev/pages/profile/profile.scss */
.select2-dropdown {
  border-color: #dedfdf;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 116, ../../../dev/pages/profile/profile.scss */
.btn {
  color: #7e8890;
}
