@import '../../sass/base/__base';

.users-page{
	.status-row{
		position: relative;
		.icon-active{
			width: 8px;
			height: 8px;
			display: block;
			background: #2ecc71;
			border-radius: 50%;
			margin: auto;
			left: 0;
			right: 0;
		}
		.icon-blocked{
			width: 8px;
			height: 8px;
			display: block;
			background: #b70e12;
			border-radius: 50%;
			margin: auto;
			left: 0;
			right: 0;
		}
	}
	.approval_flow_wrap {
		.approval_table {
			td {
				width: 30%;
				&+td {
					width: 25%;
					&+td {
						width: 25%;
						&+td {
							width: 15%;
							&+td {
								width: 5%;
							}
						}
					}
				}
			}
		}
		.title_table {
			th {
				padding: 0;
				width: 30%;
				&+th {
					width: 25%;
					&+th {
						width: 25%;
						&+th {
							width: 15%;
							&+th {
								width: 5%;
							}
						}
					}
				}
			}
		}
	}

}