@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 5, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .content_wrap, .activies_page_wrap .wrap_block {
  margin-top: 4em;
}
/* line 9, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .block_img {
  border: 1px solid #cecfd0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.86667em 4.39189%;
  width: 100%;
  display: block;
}
/* line 18, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .block_img img {
  max-width: 100%;
}
/* line 22, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .brand_news_toolbax_list {
  width: 40.1084%;
}
/* line 26, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel {
  width: 33.33333%;
  float: left;
}
/* line 30, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel .icon {
  margin: 0px auto;
  display: block;
}
/* line 34, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel .name_channels {
  font-family: 'Brandon Grotesque';
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1;
  color: #000;
  text-align: center;
  padding: 1em 0;
}
/* line 45, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel ul li a {
  color: #A9ADB0;
  position: relative;
  margin-left: 36.58537%;
  display: block;
  padding: 0.33333em 0;
  text-decoration: none;
}
/* line 52, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .channel ul li a:before {
  content: '';
  width: 4px;
  height: 4px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #45484C;
  position: absolute;
  display: block;
  left: -12px;
  top: 12px;
}
/* line 68, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .wrap_block .title {
  font-family: 'Brandon Grotesque';
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1;
  color: #000;
  margin-bottom: 1.03704em;
}
/* line 76, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .wrap_block p.text {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
  color: #45484C;
  letter-spacing: 1px;
}
/* line 86, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .content_wrap .btn:nth-last-child(1) {
  margin-bottom: 1px;
}
/* line 90, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks {
  margin-bottom: 4em;
}
/* line 94, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block {
  width: 46.875%;
  float: left;
  margin-top: 4em;
}
/* line 98, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block:nth-child(2n) {
  margin-left: 6.06936%;
}
/* line 101, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon {
  width: 21.11111%;
  float: left;
  padding: 0.33333em 1.66667%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  margin-right: 1.5625%;
}
/* line 110, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon:hover {
  border-color: #42CE7F;
}
/* line 113, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon img {
  max-width: 100%;
  margin: 0px auto;
  display: block;
}
/* line 118, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon .ico_search {
  position: absolute;
  top: 1.66667em;
  left: 34.24658%;
  display: none;
}
@media (max-width: 768px) {
  /* line 118, ../../../dev/pages/activies_page/activies_page.scss */
  .activies_page_wrap .attachments_blocks .block .icon .ico_search {
    top: 1.3em;
    left: 32.24658%;
  }
}
/* line 129, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon:hover .ico_search {
  display: block;
}
/* line 133, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .name {
  float: left;
  font-weight: 500;
  font-family: 'Brandon Grotesque';
}
/* line 138, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .text {
  float: left;
  width: 66.66667%;
  margin-top: 0.66667em;
  color: #5a636e;
  line-height: 1.4em;
  font-size: 0.89333em;
}
/* line 148, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .file_size {
  float: left;
  width: 66.66667%;
  margin-top: 0.2em;
  font-weight: 500;
}
/* line 154, ../../../dev/pages/activies_page/activies_page.scss */
.activies_page_wrap .attachments_blocks .block .ico_download {
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 154, ../../../dev/pages/activies_page/activies_page.scss */
  .activies_page_wrap .attachments_blocks .block .ico_download {
    margin-top: 5px;
  }
}

/* line 166, ../../../dev/pages/activies_page/activies_page.scss */
.brand_news .btn_wrap {
  bottom: -1.66667em;
}

/* line 173, ../../../dev/pages/activies_page/activies_page.scss */
.btn_big_rounded_wrap .btn.btn_big_rounded {
  line-height: 3.57143em;
}

/* line 181, ../../../dev/pages/activies_page/activies_page.scss */
.wrap_blocks .main_title.main_title_actives {
  margin-top: 4.51852em;
}

/* line 187, ../../../dev/pages/activies_page/activies_page.scss */
.status_wrap {
  width: 46.07046%;
}
/* line 189, ../../../dev/pages/activies_page/activies_page.scss */
.status_wrap .valid {
  font-weight: 500;
}
/* line 193, ../../../dev/pages/activies_page/activies_page.scss */
.status_wrap .btn_big_rounded .ico_status {
  margin-left: 5.67568%;
}

/* line 198, ../../../dev/pages/activies_page/activies_page.scss */
.wrap_blocks {
  background: #F9F9FB;
  overflow: hidden;
  margin-bottom: -1.4em;
  width: 100%;
}

/* line 204, ../../../dev/pages/activies_page/activies_page.scss */
#mainarea.activies_page_wrap {
  padding-bottom: 0px;
  margin: 0px auto;
}

/* line 208, ../../../dev/pages/activies_page/activies_page.scss */
.document {
  margin: -3em 0 4em;
}
/* line 211, ../../../dev/pages/activies_page/activies_page.scss */
.document li {
  float: left;
  width: 44.71545%;
  margin-left: 8.53659%;
  overflow: hidden;
  margin-top: 6.33333em;
}
@media (max-width: 768px) {
  /* line 211, ../../../dev/pages/activies_page/activies_page.scss */
  .document li {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
/* line 224, ../../../dev/pages/activies_page/activies_page.scss */
.document li:nth-child(2n+1) {
  margin-left: 0;
  clear: left;
}
/* line 229, ../../../dev/pages/activies_page/activies_page.scss */
.document li.odd {
  margin-left: 0;
  clear: left;
}
/* line 234, ../../../dev/pages/activies_page/activies_page.scss */
.document li .brand_news_title {
  font-size: 1em;
  width: 90.90909%;
}
@media (max-width: 768px) {
  /* line 238, ../../../dev/pages/activies_page/activies_page.scss */
  .document li .manage {
    width: 4.13333em;
  }
}
/* line 242, ../../../dev/pages/activies_page/activies_page.scss */
.document li .manage.img_circle-default {
  line-height: 4.13333em;
}
/* line 246, ../../../dev/pages/activies_page/activies_page.scss */
.document li .description {
  width: 72.72727%;
  margin-left: 4.54545%;
}
/* line 249, ../../../dev/pages/activies_page/activies_page.scss */
.document li .description p {
  margin-top: 1.33333em;
  color: #8F979F;
  line-height: 1.26667em;
}
/* line 255, ../../../dev/pages/activies_page/activies_page.scss */
.document li .description.distinction .brand_news_title {
  color: #b70e12;
}

/* line 263, ../../../dev/pages/activies_page/activies_page.scss */
.calendar_from, .calendar_to {
  background: none;
  border: none;
  display: inline-block;
  width: 22.34637%;
  margin-left: 0.83799%;
  color: #7E8D95;
  font-weight: 500;
}

/* line 273, ../../../dev/pages/activies_page/activies_page.scss */
.calendar_to {
  margin-left: 1.39665%;
}
