@import '../../sass/base/__base';
.dictionaries-list {
    .buttons-wrap {
        .btn_rounded_wrap {
            &.btn_left {
                width: 17.5%;
                .btn_big_rounded {
                    padding-left: 23px;
                    letter-spacing: 1px;
                }
            }
            &.btn_right {
                width: 30%;
            }
            .ico_add {
                position: absolute;
                left: 18px;
                top: 13px;
            }
        }
    }
    table {
        margin-top: 56px;
        .sprite {
            display: inline-block;
            .ico_cart {
                width: 45px;
                height: 45px;
            }
        }
        th {
            font-size: 0.8em;
            text-align: left;
            text-transform: uppercase;
            color: #849199;
            padding: 0;
            letter-spacing: 1px;
        }
        tbody:first-child {
            tr {
                border-bottom: none;
                height: 27px;
            }
        }
        tr {
            border-bottom: 1px solid #ddd;
            height: 105px;
            &:last-child {
                border-bottom: none;
            }
            td {
                vertical-align: middle;
                padding: 30px 10px 30px 0px;
                color: #707171;
                font-size: 13px;
                line-height: 18px;
                font-family: 'Open Sans', sans-serif;
                &:nth-child(1) {
                    width: 63px;
                }
                &:nth-child(2) {
                    width: 172px;
                    padding: 13px 0px 20px 0px;
                }
                &:nth-child(3) {
                    padding: 13px 70px 20px 0px;
                }
                &:nth-child(4) {
                    padding-right: 0;
                    border-bottom: none;
                }
            }
        }
    }
}