@import '../../sass/base/__base';

.single_brand_page {
	.single_brand {
		.main_menu_wrap {
			margin-top: em(80px, $base-font-size);
		}
		.main_title {
			margin-top: em(77px, $main_title-font-size);
		}
	}

    .buttons-wrap {
        
        &__bottom{
            margin: 78px 0 0 0;
	        .btn_rounded_wrap {
	            &.btn_left{
	                width: flex(151px);
	            }
	            &.btn_right {
	                width: flex(164px);
	            }
	        }
        }
    }

	&.activities_search_page {
		.main_title {
			margin-top: em(26px, $main_title-font-size);
		}
	}

	.content_wrap {
		&.padding_none {
			margin-top: em(60px);
		}
	}

	&.activities_search_page {
		.wrap_block {
			margin-bottom: 0;
		}
	}

	.btn {
		&.btn_select { 
			&.indent-top {
				margin-top: em(35px);
			}
		}
	}
}