@import '../../sass/base/__base';

.single_brand_page {
	.single_brand {
		.main_menu_wrap {
			margin-top: em(80px, $base-font-size);
		}
		.main_title {
			margin-top: em(77px, $main_title-font-size);
		}
	}

	.brand_news {
		.btn_wrap {
			bottom: em(-22px);
			height: em(44px);
		}
		.btn_big_rounded_wrap {
			height: 100%;
			.btn {
				&.btn_big_rounded {
					line-height: em(44px, $btn-font-size);
					height: 100%;
					.ico_edit {
						left: em(-8px, $btn-font-size);
					}
					.ico_add {
						left: em(-6px, $btn-font-size);
					}
				}
			}
			&:first-child {
				width: flex(153px, 742px);
			}
			&.pos_right {
				// right: flex(300px, 742px);
				width: flex(170px, 742px);
			}
		}
	}

	.brand_news_title {
		color: #323a45;
	}

	&.activities_search_page {
		.main_title {
			margin-top: em(60px, $main_title-font-size);
		}
	}
}