@import '../../sass/base/__base';

.single_brand_page {
	.single_brand {
		.main_menu_wrap {
			margin-top: em(80px, $base-font-size);
		}
		.main_title {
			margin-top: em(77px, $main_title-font-size);
		}
	}

	.content-wrap-inner {
		padding: 4em 0 4em 0;
		border-bottom: 1px solid #CECFD0;
		.btn_wrap {
			bottom: em(-21px);
			height: em(41px);
		}
		.btn_big_rounded_wrap {
			height: 100%;
			.btn {
				&.btn_big_rounded {
					// line-height: em(41px, $btn-font-size);
					line-height: em(41px, 12px);
					height: 100%;
					.ico_edit {
						left: em(-8px, $btn-font-size);
					}
					.ico_add {
						left: em(-6px, $btn-font-size);
					}
				}
			}
			&:first-child {
				width: flex(153px, 742px);
			}
			&.pos_right {
				// right: flex(300px, 742px);
				width: flex(170px, 742px);
			}
		}
		.brand_news_list {
			.brand_news_title {
				color: #323a45;
				margin-bottom: em(28px, $main_title-font-size);
			}
	        li {
	            margin-top: em(43px, $base-font-size);
	            p {
	                font-family: pragmatica,Helvetica,Arial,sans-serif;
	                font-weight: 300;
	                font-size: em($base-font-size, $base-font-size);
	                line-height: em(21px, $base-font-size);
	                color: $gray-color;
	                color: #909294;
	                letter-spacing: 1px;
	                text-align: justify;
	            }
	            &:first-child {
	                margin-top: 0;
	            }
	        }
	    }
	}



	&.activities_search_page {
		.main_title {
			margin-top: em(60px, $main_title-font-size);
		}
	}

	.content_wrap {
		&.padding_none {
			margin-top: em(60px);
		}
	}

	&.activities_search_page {
		.wrap_block {
			margin-bottom: 0;
		}
	}

	.btn {
		&.btn_select { 
			&.indent-top {
				margin-top: em(35px);
			}
		}
	}
}