@import '../../sass/base/__base';
@import "compass/css3";

.left {
	float: left;
}
.right {
	float: right;
	background-color: #F7F7F9;
}
.container {
	position: relative;
	border-bottom: 1px solid #cecfd0;
	overflow: hidden;
}
.block_change {
	padding: em(60px, $base-font-size) 0;
	textarea {
        width: 100%;
        height: em(142.5px, $base-font-size);
        padding: em(12px, $base-font-size) flex(10px, $base-width-content);
        margin: em(60px, $base-font-size) 0 em(30px, $base-font-size);
    }
    .btn.btn-default {
		&.second {
			margin-left: flex(40px, $base-width-content);
		}
	}
}
.left, .right {
	width: 50%;
	height: 100%;
	padding: em(30px, $base-font-size) flex(20px, $base-width-content);
	.main_title.main_title_actives {
		width: 100%;
		text-align: left;
	}
	.brand_news_title {
		margin: em(60px, $base-font-size) 0;
		&.second {
			margin: em(25px, $base-font-size) 0;
		}
	}
	.toolbox {
		border: 1px solid #cecfd0;
		@include border-radius(6px);
		height: em(282px, $base-font-size);
		width: flex(666px, $base-width-content);
		padding: em(13px, $base-font-size) flex(30px, $base-width-content);
		background: #fff;
		div {
			background: #dcdcdc;
			text-align: center;
			vertical-align: middle;
			width: 100%;
			height: 100%;
			padding: em(120px, $base-font-size) 0;
			img {
				margin: auto;
			}
		}
	}
	.text {
		color: $gray-color;
		line-height: em(23px, $base-font-size);
		&.for_approval {
			color: #b70e12;
		}
	}
	.btn.btn-default {
		width: flex(400px, $base-width-content);
		margin: em(45px, $base-font-size) 0;
	}
}