@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../fonts/brandon_bld.eot");
  src: url("../fonts/brandon_bld.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld.woff2") format("woff2"), url("../fonts/brandon_bld.woff") format("woff"), url("../fonts/brandon_bld.ttf") format("truetype"), url("../fonts/brandon_bld.svg#brandon_grotesquebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("../fonts/brandon_med.eot");
  src: url("../fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med.woff2") format("woff2"), url("../fonts/brandon_med.woff") format("woff"), url("../fonts/brandon_med.ttf") format("truetype"), url("../fonts/brandon_med.svg#brandon_grotesquemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../fonts/brandon_reg.eot");
  src: url("../fonts/brandon_reg.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg.woff2") format("woff2"), url("../fonts/brandon_reg.woff") format("woff"), url("../fonts/brandon_reg.ttf") format("truetype"), url("../fonts/brandon_reg.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../fonts/proximanovacond-regular.eot");
  src: url("../fonts/proximanovacond-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanovacond-regular.woff2") format("woff2"), url("../fonts/proximanovacond-regular.woff") format("woff"), url("../fonts/proximanovacond-regular.ttf") format("truetype"), url("../fonts/proximanovacond-regular.svg#proxima_nova_cn_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova-light.eot");
  src: url("../fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light.woff2") format("woff2"), url("../fonts/proximanova-light.woff") format("woff"), url("../fonts/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pragmatica-el;
  src: url(../fonts/pragmatica-extralight-v2.eot);
  src: url(../fonts/pragmatica-extralight-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-extralight-v2.woff) format("woff"), url(../fonts/pragmatica-extralight-v2.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-light-v2.eot);
  src: url(../fonts/pragmatica-light-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-light-v2.woff) format("woff"), url(../fonts/pragmatica-light-v2.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-regular-v2.eot);
  src: url(../fonts/pragmatica-regular-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-regular-v2.woff) format("woff"), url(../fonts/pragmatica-regular-v2.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pragmatica;
  src: url(../fonts/pragmatica-medium-v2.eot);
  src: url(../fonts/pragmatica-medium-v2.eot?#iefix) format("embedded-opentype"), url(../fonts/pragmatica-medium-v2.woff) format("woff"), url(../fonts/pragmatica-medium-v2.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 5, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .content_wrap, .activies_page_wrap .wrap_block {
  margin-top: 4em;
}
/* line 8, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .status_wrap {
  width: 50.1355%;
}
/* line 10, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .status_wrap .valid {
  font-weight: 500;
}
/* line 14, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .block_img {
  border: 1px solid #cecfd0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0.86667em 4.39189%;
  width: 100%;
  display: block;
}
/* line 23, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .block_img img {
  max-width: 100%;
  display: inline-block;
}
/* line 28, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .description textarea {
  width: 100%;
  height: 9.73333em;
  margin-top: 0;
}
/* line 35, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .brand_news_toolbax_list {
  width: 40.1084%;
  height: 18.86667em;
}
/* line 38, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .brand_news_toolbax_list li {
  height: 100%;
}
/* line 40, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .brand_news_toolbax_list li a {
  height: 100%;
  position: relative;
  border-color: #cecfd0;
  background-color: #f8faf9;
  text-align: center;
}
/* line 46, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .brand_news_toolbax_list li a .btn {
  width: 46.07046%;
  left: 27.5%;
  top: 8em;
  position: absolute;
}
/* line 55, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .channel {
  width: 33.33333%;
  float: left;
}
/* line 59, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .channel .icon {
  margin: 0px auto;
}
/* line 62, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .channel .name_channels {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  color: #000;
  text-align: center;
  padding: 1em 0;
}
/* line 73, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .channel ul li a {
  color: #45484C;
  position: relative;
  margin-left: 36.58537%;
  display: block;
  padding: 0.33333em 0;
  text-decoration: none;
}
/* line 80, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .channel ul li a:before {
  content: '';
  width: 4px;
  height: 4px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #45484C;
  position: absolute;
  display: block;
  left: -12px;
  top: 12px;
}
/* line 92, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .channel ul li label {
  margin-left: 36.58537%;
  color: #45484C;
}
/* line 100, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .wrap_block .title {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1;
  color: #000;
  margin-bottom: 1.03704em;
}
/* line 108, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .wrap_block p.text {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4em;
  color: #45484C;
  letter-spacing: 1px;
}
/* line 122, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks {
  margin-bottom: 4em;
}
/* line 125, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block {
  float: left;
  width: 100%;
  margin-top: 4em;
}
/* line 131, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon {
  width: 10.1626%;
  float: left;
  padding: 0.33333em 0.67751%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  margin-right: 1.5625%;
}
/* line 140, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon:hover {
  border-color: #42CE7F;
}
/* line 143, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon img {
  max-width: 100%;
  margin: 0px auto;
  display: block;
}
/* line 148, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon .ico_search {
  position: absolute;
  top: 1.66667em;
  left: 34.24658%;
  display: none;
}
@media (max-width: 768px) {
  /* line 148, ../../../dev/pages/new_activies_page/new_activies_page.scss */
  .activies_page_wrap .attachments_blocks .block .icon .ico_search {
    top: 1.4em;
    left: 32.24658%;
  }
}
/* line 159, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .icon:hover .ico_search {
  display: block;
}
/* line 163, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .name {
  float: left;
  width: 80%;
  margin-top: 1em;
  position: relative;
}
/* line 168, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .name a.sprite.sprite_ico.ico_basket {
  margin: -0.13333em 0.67751%;
  position: absolute;
}
/* line 173, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  margin-top: 0.8em;
  color: #45484C;
}
/* line 179, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block .checkbox label:before {
  position: absolute;
  left: 0px;
  top: -1px;
}
/* line 185, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block textarea {
  width: 100%;
  height: 9.5em;
  padding: 0.8em 1.35501%;
  margin-top: 1.33333em;
}
/* line 192, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_upload_file {
  margin: 2em 0 3.33333em;
}
/* line 195, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_upload_file span {
  margin-left: 2.71003%;
  color: #45484C;
}
@media (max-width: 768px) {
  /* line 195, ../../../dev/pages/new_activies_page/new_activies_page.scss */
  .activies_page_wrap .attachments_blocks .block_upload_file span {
    display: block;
    margin-left: 0;
    margin-top: 1em;
  }
}
/* line 206, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_options_draft {
  padding: 3.33333em 0;
  border-top: 1px solid #cecfd0;
  border-bottom: 1px solid #cecfd0;
}
/* line 210, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_options_draft button.btn.btn-default {
  width: 27.10027%;
  overflow: hidden;
}
/* line 214, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_options_draft button.btn.btn-default.center {
  margin-left: 9.48509%;
}
@media (max-width: 840px) {
  /* line 218, ../../../dev/pages/new_activies_page/new_activies_page.scss */
  .activies_page_wrap .attachments_blocks .block_options_draft button.btn.btn-default {
    font-size: 12px;
  }
}
/* line 223, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_request_comment {
  margin-top: 4em;
}
/* line 225, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_request_comment textarea {
  width: 100%;
  height: 9.5em;
  padding: 0.8em 1.35501%;
  margin: 2em 0;
}
/* line 231, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_request_comment .select_wrap {
  width: 48.10298%;
}
/* line 235, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .attachments_blocks .block_request_comment .select_wrap .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 1.33333em;
  padding-right: 1.33333em;
}
/* line 244, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block {
  display: none;
}
/* line 246, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker {
  z-index: 100;
  position: relative;
  float: left;
  width: 100%;
}
/* line 251, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker-month, .activies_page_wrap .calendar_block #datepicker .ui-datepicker-year, .activies_page_wrap .calendar_block #datepicker .ui-datepicker-calendar {
  font-family: pragmatica,Helvetica,Arial,sans-serif;
  font-size: 12px;
}
/* line 255, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker-calendar tr td a {
  color: #45484C;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  padding: 7px 0px;
  text-align: center;
  border: none;
  background: none;
}
/* line 265, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker-calendar tr td a.ui-state-active {
  background: #22c866;
  color: #fff;
}
/* line 269, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker-calendar tr td a.ui-state-active2 {
  background: #d76969;
  color: #fff;
}
/* line 273, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker .ui-datepicker-header {
  background: none;
  border: none;
  color: #45484C;
  height: 75px;
  border-bottom: 1px solid #cecfd0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding-top: 22px;
}
/* line 282, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker a.ui-corner-all {
  background: none;
  border: none;
}
/* line 285, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker a.ui-corner-all:hover {
  background: none;
  border: none;
}
/* line 290, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker .ui-datepicker-prev span {
  background: url(/i/sprite.png) -80px -160px no-repeat;
  width: 5px;
  height: 11px;
  top: 36px;
}
/* line 296, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker .ui-datepicker-next span {
  background: url(/i/sprite.png) -120px -160px no-repeat;
  width: 5px;
  height: 11px;
  top: 36px;
}
/* line 302, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.activies_page_wrap .calendar_block #datepicker .ui-datepicker-inline {
  width: 90%;
  margin-left: 5%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}

/* line 312, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block {
  width: 100%;
  z-index: 100;
  font-size: 12px;
}
/* line 317, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .info_block {
  height: 55px;
  width: 90%;
  margin-left: 5%;
  background: #eeeeee;
  z-index: 100;
  position: relative;
}
/* line 325, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .info_block span {
  margin: 30px 0px 0px 145px;
  display: inline-block;
  color: #45484C;
}
/* line 329, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .info_block span:before {
  content: '';
  width: 11px;
  height: 10px;
  margin: 0px 10px 0px 0px;
  display: inline-block;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 337, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .info_block span.starting {
  margin: 20px 0px 0px 145px;
}
/* line 339, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .info_block span.starting:before {
  background-color: #22c866;
}
/* line 343, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .info_block span.ending {
  margin: 20px 0px 0px 5px;
}
/* line 345, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .info_block span.ending:before {
  background-color: #d76969;
}
/* line 351, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .reset_block {
  height: 55px;
  width: 90%;
  margin-left: 5%;
  background: #eeeeee;
  z-index: 100;
  position: relative;
  border-bottom: 1px solid #cecfd0;
}
/* line 359, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.datepicker_bottom_block .reset_block .reset {
  margin: 20px 0px 0px 252px;
  display: inline-block;
  color: #d76969;
  cursor: pointer;
}

/* line 368, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.select2-results__option {
  padding-left: 1.33333em;
  padding-right: 1.33333em;
}

/* line 373, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.attachments_block_wrap {
  overflow: hidden;
}

/* line 377, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.img_circle_wrap {
  margin-right: 2.03252%;
  padding: 0.26667em;
  border: 1px solid transparent;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 9.6206%;
  height: 4.73333em;
}
/* line 384, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.img_circle_wrap .img_circle {
  width: 100%;
  height: 100%;
}
/* line 387, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.img_circle_wrap .img_circle .ico_search {
  position: absolute;
  top: 1.33333em;
  left: 32.78689%;
  display: none;
  z-index: 2;
}
@media (max-width: 768px) {
  /* line 387, ../../../dev/pages/new_activies_page/new_activies_page.scss */
  .img_circle_wrap .img_circle .ico_search {
    top: 1.4em;
    left: 32.24658%;
  }
}
/* line 399, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.img_circle_wrap:hover {
  border-color: #42CE7F;
}
/* line 401, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.img_circle_wrap:hover .ico_search {
  display: block;
}

/* line 407, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.calendar_from, .calendar_to {
  background: none;
  border: none;
  display: inline-block;
  width: 22.34637%;
  margin-left: 0.83799%;
}

/* line 415, ../../../dev/pages/new_activies_page/new_activies_page.scss */
.calendar_to {
  margin-left: 1.39665%;
}
